<div class="layout">

        <!-- First coloumn -->

  <div class="firstC">
    <div class="col2 leftalign">
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/bschools">MJ B SCHOOLS</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="assets/logos/mjbschool.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/finance">MJ FINANCE</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/mjfin.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/flyhigh">MJ FLY HIGH</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/mjflyhigh.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/insurance">MJ INSURANCE</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/mjinsurance.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/news">MJ NEWS</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/mjnews.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/services">MJ Services</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/mjservices.jpg">
          </div>
        </div>
      </div>
       <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/infotech">MJ INFOTECH</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/Selection_013.png">
          </div>
        </div>
      </div>
    <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/fitnesscenter">MJ FITNESS CENTER</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/Selection_018.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/ashram">MJ ASHRAM</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/Selection_019.png">
          </div>
        </div>
      </div>
     <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/smartcards">MJ Smart Cards</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.smartcardbasics.com/smart_card_images/smart-card-construction.jpg">
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <!-- Second coloumn -->

  <div class="secondC">
    <div class="col2 leftalign">
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/electronics">MJ Electronics</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Arduino_ftdi_chip-1.jpg/250px-Arduino_ftdi_chip-1.jpg">
          </div>
        </div>
      </div><div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/iron_steel ">MJ Iron&Steel </a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://4.bp.blogspot.com/_g4SoHkYZ0r4/SfWNE0_BS4I/AAAAAAAAABM/yW2XbNaLE9A/s400/High_Tensile_Steel_Deformed_Bar__Hot_Rolled_Steel_Round_Bar__Hot_Rolled_Wire_Rod.jpg">
          </div>
        </div>
      </div><div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/electicals">MJ Electricals</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://indiancables.in/yahoo_site_admin/assets/images/photo-1.281132657.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/automobiles">MJ Automobiles</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://automobiles.uslegal.com/files/2009/09/Automobiles.jpg">
          </div>
        </div>
      </div><div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/ayurvedic">MJ Ayurvedic</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://ayurvedapilescure.com/photo/hns-naturel.jpg">
          </div>
        </div>
      </div><div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/sanitation">MJ Sanitaion Wares</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://image.made-in-china.com/2f0j00MCJEBkNnQQbj/Full-Set-of-Ceramics-Toilet-Sanitary-Ware.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/builders_promoters">MJ Builders & Promoters</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://images02.olx.in/ui/5/93/63/1369834646_514189063_1-Looking-for-builders-and-promoters-for-tie-ups-as-authorize-sellers-Alipore.jpg">
          </div>
        </div>
      </div>
 
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/caters">MJ Caters</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://shekhawatihelpline.com/images/2011/05/04/812/banti-caters-chirawa_2.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/textile_clothing">MJ Textile/Clothing</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.newfashionmod.com/wp-content/uploads/2012/12/Five-Star-Textile-Winter-Dresses-2013-For-Women-001.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Third Coloumn -->

  <div class="centercontainer">
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/coal">MJ Coal</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.mine-engineer.com/mining/mineral/Coal-small.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/furniture">MJ Furniture</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://cdn.freshome.com/wp-content/uploads/2008/06/dust-furniture.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/health">MJ Health</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://healthunlimitedbiz.files.wordpress.com/2013/07/healthy-for-life.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/jewellers">MJ Jewellers  </a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.vummidi.com/images/collection/solitaire/solitaire-jewellery-BG.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/machinery">MJ Machinery</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://wallpoper.com/images/00/36/07/03/engine-machinery_00360703.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/cement">MJ Cement</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.goudacement.com/images/contractor-cement.jpg">
          </div>
        </div>
      </div>
    
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/paper">MJ Paper</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.shredfast.com.au/wp-content/uploads/2012/11/papers1.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/pumps">MJ Pumps</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.wfdasia.com/Quickstart/ImageLib/NB_Pump_silver.JPG">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/realestate">MJ Real Estates</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.homerwebdesigns.com/wp-content/uploads/Real-Estate-Website-Design.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/shipping">MJ Shipping</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.crucial.com/images/freeShipHeader.jpg">
          </div>
        </div>
      </div>
    
 
  </div>
 
    <!-- Fourth coloumn -->

  <div class="fourthcontainer">
    <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/homeneeds">MJ Home Needs</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.torontocentrallhin.on.ca/uploadedImages/Public_Community/Priorities_and_Programs/ER_and_ALC_Strategy/Home%20First%20Logo.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/samaj">MJ Samaj</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://upload.wikimedia.org/wikipedia/commons/1/1c/Aum-_The_Symbol_of_Arya_Samaj.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/medicals">MJ Medicals</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.tathyapurulia.com/wp-content/uploads/2010/10/medicine_pills-500x333.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/manthan">MJ Manthan</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.ashanet.org/madison/events/pics/manthan_logo.gif">
          </div>
        </div>
      </div>
     
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/lawyers">MJ Lawyers </a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://1.bp.blogspot.com/-qHXQ8ajz9n0/T2DpfK0C_HI/AAAAAAAAAvY/6iTNnNcU7Z8/s1600/advocate+symbol+copy.png">
          </div>
        </div>
      </div>
    
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/doctors">MJ Doctors</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://heavenshealthplan.com/wp-content/uploads/2012/05/medicine1.gif">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/ca">MJ CA</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://2.bp.blogspot.com/-TcrAEI4uiW0/T8ZT-kmhzVI/AAAAAAAAAIs/VPUgPt73YqE/s200/9060CA_logo_icai.69175131.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/architects">MJ Architects</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://architectinperson.files.wordpress.com/2012/06/main.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/arts">MJ ARTS</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://static.tumblr.com/40286e27a46e0481ae675c362b7998a2/ie5lmdt/fibmgljr4/tumblr_static_just-art-logo-by-nicky-barkla.gif">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/teachers">MJ Teachers</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.northcobbacademy.com/images/teacher.gif">
          </div>
        </div>
      </div>
    </div>

      <!-- Fifth Coloumn -->


  <div class="fifthcontainer">
          <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/familytree">MJ FAMILYTREE</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/Selection_024.png">
          </div>
        </div>
      </div>
       <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/matrimony">MJ MATRIMONY</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/Selection_021.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/shopee">MJ SHOPEE</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/Selection_026.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/bhavan">MJ BHAVAN</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/Selection_027.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/club">MJ CLUB</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/Selection_028.png">
          </div>
        </div>
      </div>
   <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/vidyapeeth">MJ Vidyapeeth</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/mjvidyapeeth.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/heritage">MJ Heritage</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/Selection_017.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/seva">MJ SEVA</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="/assets/logos/Selection_020.png">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/hospitals">MJ Hospitals</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://ctbythenumbers.info/files/2013/05/Hospital-sign.jpg">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/eventmanagers">MJ Event-Managers</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://www.portal.eventswedding.com/images/event_management.JPG">
          </div>
        </div>
      </div>
      <div class="adspace">
        <div class="innerspace">
          <div class="leadname">
            <a href="/ads/tyres">MJ Tyres</a>
          </div>
          <div class="adimage">
            <img class="imgsize" src="http://flowmountainbike.com/wp-content/uploads/2012/10/Web-Test-Conti-X-King-tyres-3-900x440.jpg">
          </div>
        </div>
      </div>
  </div>