<center><div class="hero-unit" style="background:#fff;width:43em;color:green;background-color:transparent;">
	Your request for change of password has been registered.<br/>
    Check your mail to complete the password change process.
</div>
</center>
