<div class="hero-unit" style="background:#fff;width:43em;background-color:transparent;">

<h4 class="top_msg" style="color:green">Your ID is <font size="5" weight="5" color="red"><%= @user.mj_id %></font></h4>
<h3 style="color:#890000">Create Password</h3>
<form accept-charset="UTF-8" action="/users/store_password/<%= @user.id %>" class="new_user" id="new_user" method="post">
  <p>
    <label for="user_password">Password</label><br />
    <input id="user_password" name="user[password]" placeholder="Password"  size="30" type="password" required="required" value="" />
  </p>
  <p>
    <label for="user_password_confirmation">Password confirmation</label><br />
    <input id="user_password_confirmation" name="user[password_confirmation]" placeholder="Password confirmation"size="30" type="password" required="required" value=""/>
  </p>
  <p class="button">
  	<input name="commit" type="submit" value="Complete Registration" class="btn btn-success"/>
  </p>
</form>
</div>