<style>
  #search {
    right: 0px;
    float: left;
    position: relative;
  }
</style>
  <!-- <h1 style="color:#890000;font-size:50px;font-family:arial">Search Panel</h1> -->
 
   <%= form_tag users_path, :method => 'get', :id => "users_search" do %>
   <div class="row">
    <div class="span3" style="padding-top:10em;padding-left:5em;">
      <%= text_field_tag :search, params[:search] , :autofocus => true %></br></br></br>

       <p> &nbsp;&nbsp; &nbsp;&nbsp;You can search by MJ ID,</p><p> &nbsp;&nbsp; &nbsp;&nbsp;Firstname , Surname</p>
    </div>
    <% submit_tag "Search", :firstname => nil %>
   <div class="span7" id="products"><%= render 'products' %></div>
  <% end %>

</div></div>