<div  class="hero-unit" style="background-color:#fff;background-color:transparent; ">
 <div class="accordion" id="accordion2">
  <div class="accordion-group" >
    <div class="accordion-heading" style="padding-right:44px">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" >
           <input type="submit"  value="Guidelines For Registration Process" 
         class="btn btn-success btn-large" style="width:868px"   />
        </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
         <p><b>The below steps will assist you in registering with Maheshwari Jagruth</b><br/><br/>
          Step 1. Complete the registration form<br/><br/>
          Step 2. Submit the form<br/><br/>
          Step 3. You will receive a message<br/><br/>
          Step 4. Go to your mail box and complete the registration process<br/><br/>
          Step 5. Enter the desired password twice<br/><br/>
          Step 6. Your MJ Id would be activated<br/><br/>
         Step 7. Now you may Login<br/><br/>
          Step 8. To create your family tree you need to ensure that your family members are also Registered with Maheshwari Jagruth<br/><br/>
          Step 9. Go Under 'Build your family tree' section and enter the MJ id you wish to enter and select the relationship menu, identify the relation and click add member<br/><br/>
          Step 10. Your relation would be added in your tree<br/><br/>
          Step 11. In case of wrong entry you may delete the relation and retype again<br/><br/>
          Step 12. We request you to create your own family and cousins would create their respective ones<br/><br/>
          Step 13. We hope that the help menu would enable you to register yourself and incase of any difficulty please feel free to call us on the following number +91 90 300 27 648</p>
       </div>
    </div>
  </div>
</div>
  <h2 style="color:#890000"><strong>Registration Form</strong></h2>
 <form accept-charset="UTF-8" action="/users/create" class="new_user" id="new_user" method="post">
<table border="0" cellspacing="2" cellpadding="3">
  <tr>
  <tr>
    <td><label for="user_desig"><strong>Title</strong></label></td>
    <td>
<select id="user_desig" name="user[desig]">
     <option  value="Mr.">Mr.</option>
    <option  value="Mrs.">Mrs.</option>
    <option  value="Miss.">Miss.</option>
    <option  value="Master">Master</option>
   </select></td>
  </tr>
      <td> 
         <label for="user_firstname"><strong>Name</strong></label>
    </td>
    <td><input id="user_firstname" name="user[firstname]" size="30" type="text" required="required" /></td>
  </tr>
</div>
    <tr>
    <td><label for="user_middlename"><strong>Middle Name</strong></label></td>
    <td><input id="user_middlename" name="user[middlename]" size="30" type="text"  /></td>
  </tr>
   <tr>
    <td><label for="user_lastname"><strong>Surname</strong></label> </td>
    <td>
        <input list="surnames" name="user[lastname]" size="30" type="text" required="required">
        <datalist id="surnames">
            <option value="Agiwal">
            <option value="Ajmera">
            <option value="Asawa">
            <option value="Atasniya">
            <option value="Attal">
            <option value="Bagri">
            <option value="Baheti">
            <option value="Bajaj">
            <option value="Baldawa">
            <option value="Baldi">
            <option value="Bangad">
            <option value="Bhaiya">
            <option value="Bhakkad">
            <option value="Bhala">
            <option value="Bhandari">
            <option value="Bhangdiya">
            <option value="Bhansali">
            <option value="Bharadia">
            <option value="Bhattad">
            <option value="Bhutada">
            <option value="Bidada">
            <option value="Bihani">
            <option value="Binani">
            <option value="Birla">
            <option value="Bisali">
            <option value="Biyani">
            <option value="Boob">
            <option value="Bung">
            <option value="Chandak">
            <option value="Chaparwal">
            <option value="Charkha">
            <option value="Chinariya">
            <option value="Chitlangi">
            <option value="Chokda">
            <option value="Dad">
            <option value="Daga">
            <option value="Daliya">
            <option value="Damani">
            <option value="Dangra">
            <option value="Darak">
            <option value="Dargad">
            <option value="Dhiran">
            <option value="Dhoot">
            <option value="Dodiya">
            <option value="Dudhani">
            <option value="Dujari">
            <option value="Dwarkani">
            <option value="Fofalia">
            <option value="Fomra">
            <option value="Gaggad">
            <option value="Gagrani">
            <option value="Gandhi">
            <option value="Gangan">
            <option value="Gattani">
            <option value="Ghurka">
            <option value="Gilda">
            <option value="Harkut">
            <option value="Heda">
            <option value="Holani">
            <option value="Indani">
            <option value="Innani">
            <option value="Jaju">
            <option value="Jakhotia">
            <option value="Jethliya">
            <option value="Jhawar">
            <option value="Kabra">
            <option value="Kacholia">
            <option value="Kakani">
            <option value="Kalani">
            <option value="Kalantri">
            <option value="Kaliya">
            <option value="Kapooria">
            <option value="Karnani">
            <option value="Karwa">
            <option value="Kasat">
            <option value="Kela">
            <option value="Khadloya">
            <option value="Khatar">
            <option value="Khator">
            <option value="Kothari">
            <option value="Kuiya">
            <option value="Ladda">
            <option value="Laddad">
            <option value="Ladha">
            <option value="Lahoti">
            <option value="Lakhani">
            <option value="Lakhotia">
            <option value="Lara">
            <option value="Lathi">
            <option value="Loya">
            <option value="Lunani">
            <option value="Madi">
            <option value="Maheshwari">
            <option value="Maiyya">
            <option value="Makkad">
            <option value="Mal">
            <option value="Malani">
            <option value="Malpani">
            <option value="Malu">
            <option value="Mandhani">
            <option value="Maniyar">
            <option value="Mantri">
            <option value="Marda">
            <option value="Maru">
            <option value="Mehta">
            <option value="Memani">
            <option value="Mimani">
            <option value="Modani">
            <option value="Modi">
            <option value="Mohta">
            <option value="Muchhal">
            <option value="Mundada">
            <option value="Nagori">
            <option value="Navandar">
            <option value="Nawal">
            <option value="Newar">
            <option value="Nyati">
            <option value="Pachisia">
            <option value="Palod">
            <option value="Pangalia">
            <option value="Partani">
            <option value="Parwal">
            <option value="Patwa">
            <option value="Pediwal">
            <option value="Porwal">
            <option value="Pungalia">
            <option value="Randhar">
            <option value="Rathi">
            <option value="Saboo">
            <option value="Sadani">
            <option value="Samdani">
            <option value="Sangi">
            <option value="Sanwal">
            <option value="Sarda">
            <option value="Sikchi">
            <option value="Singhi">
            <option value="Siwal">
            <option value="Sodhani">
            <option value="Somani">
            <option value="Soni">
            <option value="Sukhani">
            <option value="Tapadiya">
            <option value="Tawani">
            <option value="Tawry">
            <option value="Tela">
            <option value="Thirani">
            <option value="Toshniwal">
            <option value="Totla">
        </datalist>
</td>
  </tr>
  <tr>
    <td><label for="user_fathername"><strong>Father Name</strong></label></td>
    <td><input id="user_fathername" name="user[fathername]" size="30" type="text" 
        required="required" /></td>
  </tr>
 <tr>
    <td><strong>Gender</strong></td>
    <td><input type="radio" name="user[gender]" style="position:absolute" value="Male" />&nbsp;&nbsp;&nbsp;&nbsp;<strong>Male</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <input type="radio" style="position:absolute" name="user[gender]" value="Female" />&nbsp;&nbsp;&nbsp;&nbsp;<strong>Female</strong></td>
  </tr>
  <tr>
    <td><label for="user_dob"><strong>Date Of Birth</strong></label></td>
    <td> <input id="txtDate" name="user[dob]" type="text" size="30" required="required" /></td>
  </tr>
    <tr>
    <td><label for="user_email"><strong>Email</strong></label></td>
    <td><input id="user_email" name="user[email]" size="30" type="email" required="required"/></td>
  </tr>
  
</td>
   <tr>
    <td><label for="user_mobileno"><strong>Mobile no / Land line</strong></label></td>
    <td><input id="user_mobileno" name="user[mobileno]" type="text" required="required"/></td>
  </tr>
   <tr>
     <td><input id="user_id" name="user[user_id]" type="hidden" value="2" /></td>
  </tr>
  <tr><strong>
    <td><label for="user_city"><strong>City</strong></label></td>
    <td><input id="user_city" name="user[city]" size="30" type="text" required="required" /></td>
  </tr>
  <tr>
    <td><label for="user_state"><strong>State</strong></label></td>
    <td><input id="user_state" name="user[state]" size="30" type="text" required="required" /></td>
  </tr>
    <tr>
    <td><label for="user_country"><strong>Country</strong></label></td>
    <td><input id="user_country" name="user[country]" size="30" type="text" required="required" /></td>
  </tr>
 <tr><td></td><td></td></tr>
<tr><td></td><td></td></tr>&nbsp;
<tr><td></td><td></td></tr>
     <tr>
    <td colspan='2'><input name="commit" type="submit" value="Register" class="btn btn-success" style="margin-left:200px;" /></td>
  </tr>
</table>
</form>
 <br/><br/><br/>
