<head>
      <script type="text/javascript" src="/assets/citystate.js"></script>


<script type="text/javascript">
$('.dropdown-toggle').dropdown();

// $(function () {
 

$(".collapse").collapse()


</script>
 
</head>
 <script>
 
function addtext() {
  var newtext = document.myform.inputtext.value;
  if (document.myform.placement) {
    document.myform.outputtext.value = "";
    }
  document.myform.outputtext.value = newtext;
}
$(function () { $("input,textarea").not("[type=submit]").jqBootstrapValidation(); } );
 </script>

<style type="text/css">
@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff') format('woff'), /* Modern Browsers */
       url('webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
.control-label{

 font-family: 'MyFontFamily', Fallback, sans-serif;
}
</style>

<div class="hero-unit" style="width:100%">
 <div class="accordion" id="accordion2">
  <div class="accordion-group" >
    <div class="accordion-heading" style="padding-right:44px">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" >
           <input type="submit" value="Guidelines For Registration Process"
         class="btn btn-success btn-large" style="width:868px" />
        </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
         <p><b>The below steps will assist you in registering with Maheshwari Jagruth</b><br/><br/>
          Step 1. Complete the registration form<br/><br/>
          Step 2. Submit the form<br/><br/>
          Step 3. You will receive a message<br/><br/>
          Step 4. Go to your mail box and complete the registration process<br/><br/>
          Step 5. Enter the desired password twice<br/><br/>
          Step 6. Your MJ Id would be activated<br/><br/>
         Step 7. Now you may Login<br/><br/>
          Step 8. To create your family tree you need to ensure that your family members are also Registered with Maheshwari Jagruth<br/><br/>
          Step 9. Go Under 'Build your family tree' section and enter the MJ id you wish to enter and select the relationship menu, identify the relation and click add member<br/><br/>
          Step 10. Your relation would be added in your tree<br/><br/>
          Step 11. In case of wrong entry you may delete the relation and retype again<br/><br/>
          Step 12. We request you to create your own family and cousins would create their respective ones<br/><br/>
          Step 13. We hope that the help menu would enable you to register yourself and incase of any difficulty please feel free to call us on the following number +91 90 300 27 648</p>
       </div>
    </div>
  </div>
</div>
<h1 style="color:#890000;font-size:40px;"><strong>Registration Form</strong></h1><br>
<div style="width:65%;float:left;">
 <form accept-charset="UTF-8" action="/users/create" name="myform" class= "form-horizontal" id="new_user" method="post">
<fieldset>



<!-- Text input-->
<div class="control-group">
  <label class="control-label">Title</label>
    <div class="controls">
      <select id="user[desig]" name="user[desig]" required="required" style="width:6em">
        <option value="Mr.">Mr.</option>
        <option value="Mrs.">Mrs.</option>
        <option value="Miss.">Miss.</option>
        <option value="Master.">Master.</option>
        <option value="Late.">Late.</option>
      </select>
    </div>
</div>



<!-- Text input-->
<div class="control-group">
  <label class="control-label">First Name</label>
   <div class="controls">
     <input id="user[firstname]" name="user[firstname]" maxlength="20" class="input-large" required="required" type="text" pattern="^[A-z, ]+$" data-validation-pattern-message="Only Alphabets are allowed" style="text-transform: capitalize; " >
    </div>
</div>


<!-- Text input-->
<div class="control-group">
  <label class="control-label">Middle Name</label>
    <div class="controls">
     <input id="user[middlename]" name="user[middlename]" maxlength="20" class="input-large" type="text" pattern="^[A-z, ]+$" data-validation-pattern-message="Only Alphabets are allowed" style="text-transform: capitalize;" >
    </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Surname</label>
  <div class="controls">
    <input list="surnames" name="user[lastname]" maxlength="20" class="input-large" required="required" type="text" pattern="^[A-z, ]+$" data-validation-pattern-message="Only Alphabets are allowed" style="text-transform: capitalize;" >

        <datalist id="surnames">
            <option value="Agiwal">
            <option value="Ajmera">
            <option value="Asawa">
            <option value="Atasniya">
            <option value="Attal">
            <option value="Bagri">
            <option value="Baheti">
            <option value="Bajaj">
            <option value="Baldawa">
            <option value="Baldi">
            <option value="Bangad">
            <option value="Bhaiya">
            <option value="Bhakkad">
            <option value="Bhala">
            <option value="Bhandari">
            <option value="Bhangdiya">
            <option value="Bhansali">
            <option value="Bharadia">
            <option value="Bhattad">
            <option value="Bhutada">
            <option value="Bidada">
            <option value="Bihani">
            <option value="Binani">
            <option value="Birla">
            <option value="Bisali">
            <option value="Biyani">
            <option value="Boob">
            <option value="Bung">
            <option value="Chandak">
            <option value="Chaparwal">
            <option value="Charkha">
            <option value="Chinariya">
            <option value="Chitlangi">
            <option value="Chokda">
            <option value="Dad">
            <option value="Daga">
            <option value="Daliya">
            <option value="Damani">
            <option value="Dangra">
            <option value="Darak">
            <option value="Dargad">
            <option value="Dhiran">
            <option value="Dhoot">
            <option value="Dodiya">
            <option value="Dudhani">
            <option value="Dujari">
            <option value="Dwarkani">
            <option value="Fofalia">
            <option value="Fomra">
            <option value="Gaggad">
            <option value="Gagrani">
            <option value="Gandhi">
            <option value="Gangan">
            <option value="Gattani">
            <option value="Ghurka">
            <option value="Gilda">
            <option value="Harkut">
            <option value="Heda">
            <option value="Holani">
            <option value="Indani">
            <option value="Innani">
            <option value="Jaju">
            <option value="Jakhotia">
            <option value="Jethliya">
            <option value="Jhawar">
            <option value="Kabra">
            <option value="Kacholia">
            <option value="Kakani">
            <option value="Kalani">
            <option value="Kalantri">
            <option value="Kaliya">
            <option value="Kapooria">
            <option value="Karnani">
            <option value="Karwa">
            <option value="Kasat">
            <option value="Kela">
            <option value="Khadloya">
            <option value="Khatar">
            <option value="Khator">
            <option value="Kothari">
            <option value="Kuiya">
            <option value="Ladda">
            <option value="Laddad">
            <option value="Ladha">
            <option value="Lahoti">
            <option value="Lakhani">
            <option value="Lakhotia">
            <option value="Lara">
            <option value="Lathi">
            <option value="Loya">
            <option value="Lunani">
            <option value="Madi">
            <option value="Maheshwari">
            <option value="Maiyya">
            <option value="Makkad">
            <option value="Mal">
            <option value="Malani">
            <option value="Malpani">
            <option value="Malu">
            <option value="Mandhani">
            <option value="Maniyar">
            <option value="Mantri">
            <option value="Marda">
            <option value="Maru">
            <option value="Mehta">
            <option value="Memani">
            <option value="Mimani">
            <option value="Modani">
            <option value="Modi">
            <option value="Mohta">
            <option value="Muchhal">
            <option value="Mundada">
            <option value="Nagori">
            <option value="Navandar">
            <option value="Nawal">
            <option value="Newar">
            <option value="Nyati">
            <option value="Pachisia">
            <option value="Palod">
            <option value="Pangalia">
            <option value="Partani">
            <option value="Parwal">
            <option value="Patwa">
            <option value="Pediwal">
            <option value="Porwal">
            <option value="Pungalia">
            <option value="Randhar">
            <option value="Rathi">
            <option value="Saboo">
            <option value="Sadani">
            <option value="Samdani">
            <option value="Sangi">
            <option value="Sanwal">
            <option value="Sarda">
            <option value="Sikchi">
            <option value="Singhi">
            <option value="Siwal">
            <option value="Sodhani">
            <option value="Somani">
            <option value="Soni">
            <option value="Sukhani">
            <option value="Tapadiya">
            <option value="Tawani">
            <option value="Tawry">
            <option value="Tela">
            <option value="Thirani">
            <option value="Toshniwal">
            <option value="Totla">
        </datalist>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Father Name</label>
   <div class="controls">
     <input id="user[fathername]" name="user[fathername]"  
     maxlength="20" class="input-large" required="required" type="text" pattern="^[A-z, ]+$" data-validation-pattern-message="Only Alphabets are allowed" style="text-transform: capitalize;" >
    </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label">Gender</label>
  <div class="controls">
    <label class="radio inline">
      <input name="user[gender]" value="Male" checked="checked" type="radio">
      male
    </label>
    <label class="radio inline">
      <input name="user[gender]" value="Female" type="radio">
      female
    </label>
  </div>
</div>

<!-- Text input-->
  
<div class="control-group">
  <label class="control-label">Email</label>
  <div class="controls">

    <input id="user[email]" name="user[email]" class="input-large" required="required" type="email" >
    <p class="help-block"></p>
  </div>
</div>


<!-- Text input-->

<div class="control-group">
  <label class="control-label">Contact Number</label>
   <div class="controls">
     <link rel="stylesheet" href="/assets/intlTelInput.css">
     <input type="tel" id="mobile-number" name="user[mobileno]" style="width:16em"
     maxlength="15" required="required" pattern=".{5,15}" data-validation-pattern-message="Contact Number seems to be Wrong">
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="/assets/intlTelInput.min.js"></script>
      <script>
          $("#mobile-number").intlTelInput();
      </script>


    </div>
</div>


<div class="control-group">
  <label class="control-label">Date of Birth</label>
   <div class="controls">
     <input id="user[dob]" name="user[dob]" placeholder="dd-mm-yyyy" class="input-large" required="required" type="text" maxlength="10"  pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}"
     data-validation-pattern-message="You might have entered a Wrong Date of Birth">
     <p class="help-block"></p>
    </div>
</div>


<div class="control-group">
 <label class="control-label">Country</label>
  <div class="controls">
     <select onchange="set_country(this,country,city)" size="1" name="user[country]" id="state">
     <option value="" selected="selected">Select</option>
     <script type="text/javascript">
     setRegions(this);
     </script>
     </select>
    </div>
</div>
<div class="control-group">
  <label class="control-label">State</label>
   <div class="controls">
     <select name="user[state]" size="1" disabled="disabled" onchange="set_city(this,city)" id="country"></select>
    </div>
</div>





<div class="control-group">
  <label class="control-label">City</label>
   <div class="controls">
     <select name="user[city]" id="city" size="1" disabled="disabled" onchange="print_city(country,showbox(this));"  >
      <option value="select">select</option>

    </select>
    <input type="text" id="other"  name="user[other]" style="display:none"/>

    </div>
</div>





<div class="control-group">
   <label class="control-label"> Address Line1 </label> 
     <div class="controls">
            <input class="input-large" type="text" required="required" id =" user_address1" required="required" name="user[address1]" >
                </input> 
    </div>
</div>
<div class="control-group">
   <label class="control-label"> Address Line2</label> 
     <div class="controls">
            <input class="input-large" type="text" required="required" id =" user_address2" required="required" name="user[address2]" >
                </input> 
    </div>
</div>
<div class="control-group">
   <label class="control-label"> Address Line3</label> 
     <div class="controls">
            <input class="input-large" type="text" id =" user_address" name="user[address3]" >
                </input> 
    </div>
</div>
 



<!-- Text input-->
<div class="control-group">
  <label class="control-label">Zip/PinCode</label>
  <div class="controls">
    <input id="user[zip]" name="user[zip]" class="input-large" required="required" type="number" maxlength="6">
    
  </div>
</div>

<input type="hidden" id="user[ip]" name="user[ip]" value="<%= request.remote_ip %>" >

  <div class="controls">
    <input type="checkbox" name="terms-and-conditions" required data-validation-required-message=
    "You must agree to the terms and conditions">
    I accept the <a href="/home/tc">Terms and Conditions </a>
  </div>
 <br>
    <div class="control-group">
  <label class="control-label">Captcha Code </label>
  <div class="controls">
  
  
  <%= captcha_tag %> 
  <%= text_field_tag :captcha %> 
  
    
  </div>
</div>
 
     
  <div class="controls">
    <button type ="submit" id="btn_sub" name="commit" class="btn btn-success">Register</button><%= $sai%>ss
  </div>
</fieldset>
</form>
</div>
<div style="width:35%;float:left;">
    <div><a href=""><img src="http://cdn3.brafton.com/wp-content/uploads/2013/07/native-ads-in-high-demand-350x266.jpg"></a></div><br>
    <div><a href=""><img src="http://cdn3.brafton.com/wp-content/uploads/2013/07/native-ads-in-high-demand-350x266.jpg"></a></div><br>
    <div><a href=""><img src="http://cdn3.brafton.com/wp-content/uploads/2013/07/native-ads-in-high-demand-350x266.jpg"></a></div>
</div>
</div>













