<script>
 function addtext() {
  var newtext = document.myform.inputtext.value;
  if (document.myform.placement) {
    document.myform.outputtext.value = "";
    }
  document.myform.outputtext.value = newtext;
}
   $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>

<style type="text/css">
@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff') format('woff'), /* Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
.control-label{

 font-family: 'MyFontFamily', Fallback, sans-serif;
}
</style>

<div  class="hero-unit" style="background-color:#fff;background-color:transparent; ">
 <div class="accordion" id="accordion2">
  <div class="accordion-group" >
    <div class="accordion-heading" style="padding-right:44px">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" >
           <input type="submit"  value="Guidelines For Registration Process" 
         class="btn btn-success btn-large" style="width:868px"   />
        </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
         <p><b>The below steps will assist you in registering with Maheshwari Jagruth</b><br/><br/>
          Step 1. Complete the registration form<br/><br/>
          Step 2. Submit the form<br/><br/>
          Step 3. You will receive a message<br/><br/>
          Step 4. Go to your mail box and complete the registration process<br/><br/>
          Step 5. Enter the desired password twice<br/><br/>
          Step 6. Your MJ Id would be activated<br/><br/>
         Step 7. Now you may Login<br/><br/>
          Step 8. To create your family tree you need to ensure that your family members are also Registered with Maheshwari Jagruth<br/><br/>
          Step 9. Go Under 'Build your family tree' section and enter the MJ id you wish to enter and select the relationship menu, identify the relation and click add member<br/><br/>
          Step 10. Your relation would be added in your tree<br/><br/>
          Step 11. In case of wrong entry you may delete the relation and retype again<br/><br/>
          Step 12. We request you to create your own family and cousins would create their respective ones<br/><br/>
          Step 13. We hope that the help menu would enable you to register yourself and incase of any difficulty please feel free to call us on the following number +91 90 300 27 648</p>
       </div>
    </div>
  </div>
</div>
  <h1 style="color:#890000;font-size:40px;"><strong>Registration Form</strong></h1><br>
 <form accept-charset="UTF-8" action="/users/create" name="myform" class= "form-horizontal"  id="new_user" method="post">
<fieldset>



<!-- Text input-->
<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
      <select id="user[desig]" name="user[desig]" required="required">
        <option value="Mr.">Mr.</option>
        <option value="Mrs.">Mrs.</option>
        <option value="Miss.">Miss.</option>
        <option value="Master.">Master.</option>
        <option value="Late.">Late.</option>
      </select>    
  </div>
</div>



<!-- Text input-->
<div class="control-group">
  <label class="control-label">First Name</label>
  <div class="controls">
    <input id="user[firstname]" name="user[firstname]" maxlength="20" class="input-large" required="required" type="text" pattern="^[A-z]+$" data-validation-pattern-message="Only Alphabets are allowed" style="text-transform: capitalize; " >
  
    
  </div>
</div>


<!-- Text input-->
<div class="control-group">
  <label class="control-label">Middle Name</label>
  <div class="controls">
    <input id="user[middlename]" name="user[middlename]" maxlength="20" class="input-large" type="text" pattern="^[A-z]+$" data-validation-pattern-message="Only Alphabets are allowed" style="text-transform: capitalize;" >
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Surname</label>
  <div class="controls">
    <input list="surnames" name="user[lastname]" maxlength="20" class="input-large" required="required" type="text" pattern="^[A-z]+$" data-validation-pattern-message="Only Alphabets are allowed" style="text-transform: capitalize;" >

        <datalist id="surnames">
            <option value="Agiwal">
            <option value="Ajmera">
            <option value="Asawa">
            <option value="Atasniya">
            <option value="Attal">
            <option value="Bagri">
            <option value="Baheti">
            <option value="Bajaj">
            <option value="Baldawa">
            <option value="Baldi">
            <option value="Bangad">
            <option value="Bhaiya">
            <option value="Bhakkad">
            <option value="Bhala">
            <option value="Bhandari">
            <option value="Bhangdiya">
            <option value="Bhansali">
            <option value="Bharadia">
            <option value="Bhattad">
            <option value="Bhutada">
            <option value="Bidada">
            <option value="Bihani">
            <option value="Binani">
            <option value="Birla">
            <option value="Bisali">
            <option value="Biyani">
            <option value="Boob">
            <option value="Bung">
            <option value="Chandak">
            <option value="Chaparwal">
            <option value="Charkha">
            <option value="Chinariya">
            <option value="Chitlangi">
            <option value="Chokda">
            <option value="Dad">
            <option value="Daga">
            <option value="Daliya">
            <option value="Damani">
            <option value="Dangra">
            <option value="Darak">
            <option value="Dargad">
            <option value="Dhiran">
            <option value="Dhoot">
            <option value="Dodiya">
            <option value="Dudhani">
            <option value="Dujari">
            <option value="Dwarkani">
            <option value="Fofalia">
            <option value="Fomra">
            <option value="Gaggad">
            <option value="Gagrani">
            <option value="Gandhi">
            <option value="Gangan">
            <option value="Gattani">
            <option value="Ghurka">
            <option value="Gilda">
            <option value="Harkut">
            <option value="Heda">
            <option value="Holani">
            <option value="Indani">
            <option value="Innani">
            <option value="Jaju">
            <option value="Jakhotia">
            <option value="Jethliya">
            <option value="Jhawar">
            <option value="Kabra">
            <option value="Kacholia">
            <option value="Kakani">
            <option value="Kalani">
            <option value="Kalantri">
            <option value="Kaliya">
            <option value="Kapooria">
            <option value="Karnani">
            <option value="Karwa">
            <option value="Kasat">
            <option value="Kela">
            <option value="Khadloya">
            <option value="Khatar">
            <option value="Khator">
            <option value="Kothari">
            <option value="Kuiya">
            <option value="Ladda">
            <option value="Laddad">
            <option value="Ladha">
            <option value="Lahoti">
            <option value="Lakhani">
            <option value="Lakhotia">
            <option value="Lara">
            <option value="Lathi">
            <option value="Loya">
            <option value="Lunani">
            <option value="Madi">
            <option value="Maheshwari">
            <option value="Maiyya">
            <option value="Makkad">
            <option value="Mal">
            <option value="Malani">
            <option value="Malpani">
            <option value="Malu">
            <option value="Mandhani">
            <option value="Maniyar">
            <option value="Mantri">
            <option value="Marda">
            <option value="Maru">
            <option value="Mehta">
            <option value="Memani">
            <option value="Mimani">
            <option value="Modani">
            <option value="Modi">
            <option value="Mohta">
            <option value="Muchhal">
            <option value="Mundada">
            <option value="Nagori">
            <option value="Navandar">
            <option value="Nawal">
            <option value="Newar">
            <option value="Nyati">
            <option value="Pachisia">
            <option value="Palod">
            <option value="Pangalia">
            <option value="Partani">
            <option value="Parwal">
            <option value="Patwa">
            <option value="Pediwal">
            <option value="Porwal">
            <option value="Pungalia">
            <option value="Randhar">
            <option value="Rathi">
            <option value="Saboo">
            <option value="Sadani">
            <option value="Samdani">
            <option value="Sangi">
            <option value="Sanwal">
            <option value="Sarda">
            <option value="Sikchi">
            <option value="Singhi">
            <option value="Siwal">
            <option value="Sodhani">
            <option value="Somani">
            <option value="Soni">
            <option value="Sukhani">
            <option value="Tapadiya">
            <option value="Tawani">
            <option value="Tawry">
            <option value="Tela">
            <option value="Thirani">
            <option value="Toshniwal">
            <option value="Totla">
        </datalist>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Father Name</label>
  <div class="controls">
    <input id="user[fathername]" name="user[fathername]"  
    maxlength="20" class="input-large" required="required" type="text" pattern="^[A-z]+$" data-validation-pattern-message="Only Alphabets are allowed" style="text-transform: capitalize;" >
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label">Gender</label>
  <div class="controls">
    <label class="radio inline">
      <input name="user[gender]" value="male" checked="checked" type="radio">
      male
    </label>
    <label class="radio inline">
      <input name="user[gender]" value="female" type="radio">
      female
    </label>
  </div>
</div>

<!-- Text input-->
  
<div class="control-group">
  <label class="control-label">Email</label>
  <div class="controls">

    <input id="user[email]" name="user[email]"   class="input-large" required="required" type="email" >
    <p class="help-block"></p>
  </div>
</div>


<div class="control-group">
  <label class="control-label">Countrycode</label>
 &nbsp;&nbsp;
    <select name="inputtext" onClick="addtext();" >
    <option value="">Select</option>
    <option value="+91">India</option>
    <option value="+93">Afghanistan</option>
    <option value="+355">Albania</option>
    <option value="+213">Algeria</option>
    <option value="+1684">American Samoa</option>
    <option value="+376">Andorra</option>
    <option value="+244">Angola</option>
    <option value="+1264">Anguilla</option>
    <option value="+672">Antarctica</option>
    <option value="+1268">Antigua and Barbuda</option>
    <option value="+54">Argentina</option>
    <option value="+374">Armenia</option>
    <option value="+297">Aruba</option>
    <option value="+61">Australia</option>
    <option value="+43">Austria</option>
    <option value="+994">Azerbaijan</option>
    <option value="+1242">Bahamas, The</option>
    <option value="+973">Bahrain</option>
    <option value="+880">Bangladesh</option>
    <option value="+1246">Barbados</option>
    <option value="+375">Belarus</option>
    <option value="+32">Belgium</option>
    <option value="+501">Belize</option>
    <option value="+229">Benin</option>
    <option value="+1441">Bermuda</option>
    <option value="+975">Bhutan</option>
    <option value="+591">Bolivia</option>
    <option value="+387">Bosnia and Herzegovina</option>
    <option value="+267">Botswana</option>
    <option value="+55">Brazil</option>
    <option value="+1284">British Virgin Islands</option>
    <option value="+673">Brunei</option>
    <option value="+359">Bulgaria</option>
    <option value="+226">Burkina Faso</option>
    <option value="+257">Burundi</option>
    <option value="+855">Cambodia</option>
    <option value="+237">Cameroon</option>
    <option value="+1">Canada</option>
    <option value="+238">Cape Verde</option>
    <option value="+1345">Cayman Islands</option>
    <option value="+236">Central African Republic</option>
    <option value="+235">Chad</option>
    <option value="+56">Chile</option>
    <option value="+86">China</option>
    <option value="+57">Colombia</option>
    <option value="+269">Comoros</option>
    <option value="+242">Congo</option>
    <option value="+243">Congo (DRC)</option>
    <option value="+682">Cook Islands</option>
    <option value="+506">Costa Rica</option>
    <option value="+225">Côte d’Ivoire</option>
    <option value="+385">Croatia</option>
    <option value="+53">Cuba</option>
    <option value="+357">Cyprus</option>
    <option value="+420">Czech Republic</option>
    <option value="+45">Denmark</option>
    <option value="+253">Djibouti</option>
    <option value="+1767">Dominica</option>
    <option value="+18">Dominican Republic</option>
    <option value="+593">Ecuador</option>
    <option value="+20">Egypt</option>
    <option value="+503">El Salvador</option>
    <option value="+240">Equatorial Guinea</option>
    <option value="+291">Eritrea</option>
    <option value="+372">Estonia</option>
    <option value="+251">Ethiopia</option>
    <option value="+500">Falkland Islands (Islas Malvinas)</option>
    <option value="+298">Faroe Islands</option>
    <option value="+679">Fiji</option>
    <option value="+358">Finland</option>
    <option value="+33">France</option>
    <option value="+594">French Guiana</option>
    <option value="+689">French Polynesia</option>
    <option value="+241">Gabon</option>
    <option value="+220">Gambia, The</option>
    <option value="+995">Georgia</option>
    <option value="+49">Germany</option>
    <option value="+233">Ghana</option>
    <option value="+350">Gibraltar</option>
    <option value="+30">Greece</option>
    <option value="+299">Greenland</option>
    <option value="+1473">Grenada</option>
    <option value="+590">Guadeloupe</option>
    <option value="+1671">Guam</option>
    <option value="+502">Guatemala</option>
    <option value="+224">Guinea</option>
    <option value="+245">Guinea-Bissau</option>
    <option value="+592">Guyana</option>
    <option value="+509">Haiti</option>
    <option value="+3">Holy See (Vatican City)</option>
    <option value="+504">Honduras</option>
    <option value="+852">Hong Kong SAR</option>
    <option value="+36">Hungary</option>
    <option value="+354">Iceland</option>
    <option value="+91">India</option>
    <option value="+62">Indonesia</option>
    <option value="+98">Iran</option>
    <option value="+964">Iraq</option>
    <option value="+353">Ireland, Republic of</option>
    <option value="+972">Israel</option>
    <option value="+39">Italy</option>
    <option value="+1876">Jamaica</option>
    <option value="+81">Japan</option>
    <option value="+962">Jordan</option>
    <option value="+7">Kazakhstan</option>
    <option value="+254">Kenya</option>
    <option value="+686">Kiribati</option>
    <option value="+82">Korea</option>
    <option value="+965">Kuwait</option>
    <option value="+996">Kyrgyzstan</option>
    <option value="+856">Laos</option>
    <option value="+371">Latvia</option>
    <option value="+961">Lebanon</option>
    <option value="+266">Lesotho</option>
    <option value="+231">Liberia</option>
    <option value="+218">Libya</option>
    <option value="+423">Liechtenstein</option>
    <option value="+370">Lithuania</option>
    <option value="+352">Luxembourg</option>
    <option value="+853">Macao SAR</option>
    <option value="+389">Macedonia, FYRO</option>
    <option value="+261">Madagascar</option>
    <option value="+265">Malawi</option>
    <option value="+60">Malaysia</option>
    <option value="+960">Maldives</option>
    <option value="+223">Mali</option>
    <option value="+356">Malta</option>
    <option value="+692">Marshall Islands</option>
    <option value="+596">Martinique</option>
    <option value="+222">Mauritania</option>
    <option value="+230">Mauritius</option>
    <option value="+269">Mayotte</option>
    <option value="+52">Mexico</option>
    <option value="+691">Micronesia</option>
    <option value="+373">Moldova</option>
    <option value="+377">Monaco</option>
    <option value="+976">Mongolia</option>
    <option value="+382">Montenegro</option>
    <option value="+1664">Montserrat</option>
    <option value="+212">Morocco</option>
    <option value="+258">Mozambique</option>
    <option value="+95">Myanmar</option>
    <option value="+264">Namibia</option>
    <option value="+674">Nauru</option>
    <option value="+977">Nepal</option>
    <option value="+31">Netherlands</option>
    <option value="+687">New Caledonia</option>
    <option value="+64">New Zealand</option>
    <option value="+505">Nicaragua</option>
    <option value="+227">Niger</option>
    <option value="+234">Nigeria</option>
    <option value="+683">Niue</option>
    <option value="+1670">Northern Mariana Islands</option>
    <option value="+850">North Korea</option>
    <option value="+47">Norway</option>
    <option value="+968">Oman</option>
    <option value="+92">Pakistan</option>
    <option value="+680">Palau</option>
    <option value="+970">Palestinian Authority</option>
    <option value="+507">Panama</option>
    <option value="+675">Papua New Guinea</option>
    <option value="+595">Paraguay</option>
    <option value="+51">Peru</option>
    <option value="+63">Philippines</option>
    <option value="+48">Poland</option>
    <option value="+351">Portugal</option>
    <option value="+1787">Puerto Rico</option>
    <option value="+974">Qatar</option>
    <option value="+262">Reunion</option>
    <option value="+40">Romania</option>
    <option value="+7">Russia</option>
    <option value="+250">Rwanda</option>
    <option value="+290">Saint Helena, Ascension and Tristan da Cunha</option>
    <option value="+1869">Saint Kitts and Nevis</option>
    <option value="+1758">Saint Lucia</option>
    <option value="+508">Saint Pierre and Miquelon</option>
    <option value="+1784">Saint Vincent and the Grenadines</option>
    <option value="+685">Samoa</option>
    <option value="+378">San Marino</option>
    <option value="+239">São Tomé and Príncipe</option>
    <option value="+966">Saudi Arabia</option>
    <option value="+221">Senegal</option>
    <option value="+381">Serbia</option>
    <option value="+248">Seychelles</option>
    <option value="+232">Sierra Leone</option>
    <option value="+65">Singapore</option>
    <option value="+421">Slovakia</option>
    <option value="+386">Slovenia</option>
    <option value="+677">Solomon Islands</option>
    <option value="+252">Somalia</option>
    <option value="+27">South Africa</option>
    <option value="+34">Spain</option>
    <option value="+94">Sri Lanka</option>
    <option value="+249">Sudan</option>
    <option value="+597">Suriname</option>
    <option value="+268">Swaziland</option>
    <option value="+46">Sweden</option>
    <option value="+41">Switzerland</option>
    <option value="+963">Syria</option>
    <option value="+886">Taiwan</option>
    <option value="+992">Tajikistan</option>
    <option value="+255">Tanzania</option>
    <option value="+66">Thailand</option>
    <option value="+670">Timor-Leste</option>
    <option value="+228">Togo</option>
    <option value="+690">Tokelau</option>
    <option value="+676">Tonga</option>
    <option value="+1868">Trinidad and Tobago</option>
    <option value="+216">Tunisia</option>
    <option value="+90">Turkey</option>
    <option value="+993">Turkmenistan</option>
    <option value="+1649">Turks and Caicos Islands</option>
    <option value="+688">Tuvalu</option>
    <option value="+256">Uganda</option>
    <option value="+380">Ukraine</option>
    <option value="+971">United Arab Emirates</option>
    <option value="+44">United Kingdom</option>
    <option value="+1">United States</option>
    <option value="+598">Uruguay</option>
    <option value="+1340">US Virgin Islands</option>
    <option value="+998">Uzbekistan</option>
    <option value="+678">Vanuatu</option>
    <option value="+58">Venezuela</option>
    <option value="+84">Vietnam</option>
    <option value="+681">Wallis and Futuna</option>
    <option value="+967">Yemen</option>
    <option value="+260">Zambia</option>
    <option value="+263">Zimbabwe</option>
    </select> &nbsp; 
    </div>
 
 <!-- Text input-->
<div class="control-group">
  <label class="control-label">Contact Number</label>
  <div class="controls">

 <input name="user[ccode]" id="outputtext" class="input-mini" style="width:3em;">  


    <input id="user[mobileno]" name="user[mobileno]"    style="width:11em"
    maxlength="12" class="input-large" required="required" type="number" pattern=".{5,12}" data-validation-pattern-message="Contact Number seems to be Wrong" title="min 5 to 12 characters">
    <p class ="help-block"></p>
  </displayv>
</div>
<!-- Text input-->
<!-- <div class="control-group">
  <label class="control-label">Landline number</label>
  <div class="controls">
    <input id="user[landline]" name="user[landline]" placeholder="040 12345678" class="input-large" type="number" maxlength="15">
    <p class="help-block"></p>
  </div>
</div -->

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Date of Birth</label>
  <div class="controls">
    <input id="user[dob]" name="user[dob]" placeholder="dd/mm/yyyy" class="input-large" required="required" type="text" maxlength="10"  pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"
 data-validation-pattern-message="You might have entered a Wrond Date of Birth">
    <p class="help-block"></p>
  </div>
</div>


 <div class="control-group">
  <label class="control-label">Country</label>
  <div class="controls">
   
    
   <select name="user[country]" id="user[country]">
             <option value="select" selected></option>
             <option value="India">India</option>
              <option value="Canada">Canada</option>
             <option value="Mexico">Mexico</option>
             <option value="United States">United States</option>
             <option value="Nigeria">Nigeria</option>
             <option value="Bangladesh">Bangladesh</option>
             <option value="Bhutan">Bhutan</option>
             <option value="Brunei">Brunei</option>
             <option value="Burma (Myanmar)">Burma (Myanmar)</option>
             <option value="Cambodia">Cambodia</option>
             <option value="China">China</option>
             <option value="Italy">Italy</option>
             <option value="United Kingdom">United Kingdom</option>
             <option value="Kuwait">Kuwait</option>
             <option value="Saudi Arabia">Saudi Arabia</option>
             <option value="Turkey">Turkey</option>
             <option value="United Arab Emirates">United Arab Emirates</option>
             <option value="South Africa">South Africa</option>
             <option value="Indonesia">Indonesia</option>
             <option value="Korea (north)">Korea (north)</option>
            <option value="Korea (south)">Korea (south)</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="Thailand">Thailand</option>
            <option value="Australia">Australi</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Ice Land">Ice Land</option>
     </select> 
  </div>
</div>

<div class="control-group">
  <label class="control-label">State</label>
  <div class="controls">
 
    <select  name="user[state]" id="user[state]">
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chandigarh">Chandigarh</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
        <option value="Daman and Diu">Daman and Diu</option>
        <option value="Delhi">Delhi</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Lakshadweep">Lakshadweep</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Orissa">Orissa</option>
        <option value="Pondicherry">Pondicherry</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttaranchal">Uttaranchal</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="West Bengal">West Bengal</option>
        </select>
       
  </div>
</div>


<div class="control-group">
  <label class="control-label">City</label>
  <div class="controls">
    <input id="user[city]" name="user[city]"   class="input-large" required="required" type="text"pattern="^[A-z]+$" data-validation-pattern-message="Only Alphabets are allowed"  style="text-transform: capitalize;">
    
     
  </div>
</div> 
<!-- Text input-->
<div class="control-group">
  <label class="control-label">Zip/PinCode</label>
  <div class="controls">
    <input id="user[zip]" name="user[zip]"   class="input-large" required="required" type="number" maxlength="10">
    
  </div>
</div>

  <div class="controls">
    <input type="checkbox" name="terms-and-conditions" required data-validation-required-message=
    "You must agree to the terms and conditions">
    I accept the <a href="/home/tc">Terms and Conditions </a>
  </div>
 <br> 
    <div class="control-group">
  <label class="control-label">Verify yourself by enter the correct code </label>
  <div class="controls">
   <%= recaptcha_tags :display => { :theme => "clean" } %> 
    
  </div>
</div>
 
     
  <div class="controls">
    <button type ="submit" id="btn_sub" name="commit" class="btn btn-success">Register</button>
  </div>
</fieldset>
</form>