<div class="hero-unit" style="background:#fff;background-color:transparent;padding-left:10px;">
	<center>You have successfully completed the registration process.<br>
        You may now <br><a href="/login" class="btn btn-success"> Login </a>
    </center>
</div>