 <div class="hero-unit" style="background:#fff;width:43em;background-color:transparent;"><center class="top_msg">You have successfully changed your password.<br>
 You may now <br><a href="/login" class="btn btn-success">login</a></center>

</div>