 <div>
 <iframe width="640" height="360" src="https://www.youtube.com/embed/M3r4gSpmYVA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</div><br>
 <a href = "<%= redirect_to = "videos/2" %>" class="btn btn-inverse" style="margin-left:523px">show more ... </a>
<br><br><br><br><br><br><br>
  <div>
