<big><b>Festivals</b> <b>Celebrated by</b> <b>Maheshwari</b></big></span></span></span></h1>
<p><span style="font-size: medium;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Here are the list of festivals celebrated by maheshwari peoples along with their importance and details why these festivals are celebrated.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="1" cellpadding="1" border="1" align="center" style="width: 525px; height: 797px;">
    <tbody>
        <tr>
            <td width="111">Month of Celebration</td>
            <td width="91" style="text-align: center;">Festivals</td>
            <td width="615" style="text-align: center;">Importance of Festival</td>
        </tr>
        <tr>
            <td width="111">&nbsp;January</td>
            <td width="91">&nbsp;Makar Sankaranti</td>
            <td width="615">&nbsp;</td>
        </tr>
        <tr>
            <td width="111">&nbsp;January</td>
            <td width="91">&nbsp;Vasant Panchami</td>
            <td width="615"><i>Vasant Panchami </i>is celebrated for the blessing of Saraswati, goddess of wisdom and the arts</td>
        </tr>
        <tr>
            <td width="111">&nbsp;March</td>
            <td width="91">&nbsp;Maha Shivratri</td>
            <td width="615" style="text-align: justify;"><i>Maha Shivaratri</i> is the great night of Shiva, followers of Shiva observe religious fasting and the offering of Bael (Bilva) leaves to the Shiva.</td>
        </tr>
        <tr>
            <td width="111">&nbsp;March</td>
            <td width="91">&nbsp;Holi</td>
            <td width="615" style="text-align: justify;"><i>Holi</i> or <i>Phagwah</i> is a popular spring festival. Holi commemorates the slaying of the demoness Holika by Lord Vishnu's devotee Prahlad. Thus, the festival's name is derived from the Sanskrit words &quot;Holika Dahanam&quot;, which literally mean &quot;Holika's slaying&quot;</td>
        </tr>
        <tr>
            <td width="111">&nbsp;March</td>
            <td width="91">&nbsp;Ram navmi</td>
            <td width="615"><i>Rama Navami</i> is the celebration of the birth of Rama.</td>
        </tr>
        <tr>
            <td width="111">&nbsp;March</td>
            <td width="91">&nbsp;Hanuman jayanti</td>
            <td width="615"><i>Hanuman Jayanti</i> is the celebration of the birth of Hanuman, Rama's loyal devotee.</td>
        </tr>
        <tr>
            <td width="111">&nbsp;</td>
            <td width="91">&nbsp;Vat Pornima</td>
            <td width="615" style="text-align: justify;"><i>Vat Pournima</i> is observed in Maharashtra. <i>Pournima</i> means &quot;full moon.&quot; Women pray for the prosperity of their husbands by tying threads around a banyan tree.</td>
        </tr>
        <tr>
            <td width="111">&nbsp;August</td>
            <td width="91">&nbsp;Raksha Bandhan</td>
            <td width="615" style="text-align: justify;"><i>Raksha Bandhan</i> is a festival celebrated mainly in northern Indian  states. Rakhi is a special occasion to celebrate the chaste bond of  love between a brother and a sister.</td>
        </tr>
        <tr>
            <td width="111">September</td>
            <td width="91">Krishana Janmashtami</td>
            <td width="615" style="text-align: justify;"><i>Krishna Janmaashtami</i> is the Hindu festival celebrating the birth of Krishna.  It is actually called as Krishna Jayanthi. The date falls not only on  the eight day of the waning moon, but always on Rohini Nakshatra.</td>
        </tr>
        <tr>
            <td width="111">Sepetember</td>
            <td width="91">Ganesh Chaturthi</td>
            <td width="615"><i>Ganesh Chaturthi</i> is the celebration of the birth of Ganesh.</td>
        </tr>
        <tr>
            <td width="111">Sept-Oct</td>
            <td width="91"><a href="navratri_12952937.html" target="_self">Navratri</a></td>
            <td width="615" style="text-align: justify;"><i>Navarathri</i> is the Hindu festival of worship and dance. In Sanskrit the term literally means &quot;nine nights&quot;. During this festival the forms of Shakti are worshiped.</td>
        </tr>
        <tr>
            <td width="111">&nbsp;</td>
            <td width="91"><a target="_self" href="vijayadashmi_88674759.html">VijayaDashmi</a></td>
            <td width="615"><i>Vijayadashami</i> is the&nbsp; celebration of good over evil.</td>
        </tr>
        <tr>
            <td width="111">Novemeber</td>
            <td width="91"><a target="_self" href="diwali_51442630.html">Diwali</a></td>
            <td width="615" style="text-align: justify;"><i>Deepavali</i> which means &quot;row of lights/lamps&quot; is called  &quot;Divali&quot; in North India, Deepa means lamp and in Hindi a lamp is mostly  called a Diya or Di. The festival is celebrated on the occasion of Lord Krishna and his wife Satyabhama killing a demon Narakasura. Another story says the festival is celebrated for the return of Rama and Sita to the kingdom Ayodhya after fourteen years of exile</td>
        </tr>
        <tr>
            <td width="111">Novemeber</td>
            <td width="91">Bhai Dhuj</td>
            <td width="615" style="text-align: justify;"><i>Bhai dooj</i>, also referred to as <i>Bhaubeej</i>, is the ceremony performed by Hindus, generally, on the second day of Deepavali. It is celebrated among brothers and sisters and is similar to <i>Raksha Bandhan</i>, except there is no tying of <i>rakhi</i> involved.</td>
        </tr>
        <tr>
            <td width="111">&nbsp;</td>
            <td width="91">&nbsp;</td>
            <td width="615">&nbsp;</td>
        </tr>
    </tbody>
</table>

