<table cellspacing="0" cellpadding="0" border="1" style="width: 810px; height: 1062px;" id="AutoNumber7">

    <tbody>

        <tr>

            <td bgcolor="#0000FF" align="center" width="131" valign="top" style="border-style: solid; border-width: 1pt; padding: 0in 5.4pt;">

            <p class="MsoNormal"><b><font face="Verdana" color="#FFFFFF" size="2">Name     of Goddess</font></b></p>

            </td>

            <td height="14%" bgcolor="#0000FF" align="center" width="293" valign="top" style="padding: 0in 5.4pt; border-style: solid solid solid none; border-width: 1pt 1pt 1pt medium;">

            <p class="MsoNormal"><b><font face="Verdana" color="#FFFFFF" size="2">     Surnames</font></b></p>

            </td>

            <td bgcolor="#0000FF" align="center" width="487" valign="top" style="padding: 0in 5.4pt; border-style: solid solid solid none; border-width: 1pt 1pt 1pt medium;">

            <p class="MsoNormal"><b><font face="Verdana" color="#FFFFFF" size="2">     Location</font></b></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Nausar Mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Ajmera</font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Kaner,     Dist.Chittodgad, 5 kms from Ajmer in Pushkar valley.</font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Asavari Mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Asava, Kalya</font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">New large temple     in Ossia, 10 kms from Jaisalmer, at Didwanna, 12 kms from Kiradu Barmer</font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Sachhiyay Mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p style="text-align: justify;" class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Mantri ,Attal,     Karva, Kasat, Surjan, Daga, Damani, Karnani, Dhurya, Kela, Partani, Birla,     Randar, Gandhi, Raiwal, Malu, Sarda, Kothari, Kanugo, Rathi, Ragdani,     Dammani, Malani, Mutha, Lakhani, Phafat, Modi, Mohata, Sikchi, Lakotia,     Biyani </font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p style="text-align: justify;" class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">At Ossia, 61 kms     by bus&nbsp; and 61 kms by train from&nbsp; Jodhpur, on Jodhpur &ndash; Jaisalmer     broad guage &nbsp;Railway line.&nbsp; Can also be reached from Bikaner via     Faloudi </font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b>     <font face="Microsoft Sans Serif" color="#000080" size="2">Bhaisad mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Agiwal</font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">At Pada Mata     Didwana</font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Aamal Mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Kakani</font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Mandesar Udaipur,     village Riched, Tehsil Kumbhalgad, Dist. Rajsamand. Can be reached from     Ajmer to Udaipur road via Charbhuja.&nbsp; From Jodhpur on road to     Kumbhlagad </font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Likasan Mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Kahalya, Dhoot</font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">At Choti Khatu,     Village Likasan, Dist. Nagaur (abt 6-7 Kms far from Nagaur) From Didwana 18     kms, from Choti Khatu 4 miles east)</font><font color="#000080"> </font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Chavada Mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Kalantri, Kalani,     Gattani, Tavri, Pallod, Bhansali, Modani, Lahoti, Bhattad</font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">In between Medta     City and Medta Road. Also in Chamunda village, Dist Jodhpur near Keru.&nbsp;     Also in between Pushkar &ndash; Ajmer. A temple is also in Jodhpur fort. </font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Pattaya Mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Kachaulya,     Gagrani, Devpura, Naulakha, Bidada</font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">At Didwana</font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Susmaad Mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Kabra</font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">At Ganpat Singh,     Madan Singh Sisodiya, Peula marg, KUCHERA (Nagaur) abt 1.5 kms near kuchera     in a field own by a rajput</font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Bandhar Mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">gadeiyaChapparwal,     Somani, Marda</font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p style="text-align: justify;" class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Located on the     hillock at tanagaon, which is 10 kms from Mogargaon, on left hand side on     the road leading to Aakola on Udaipur to Chitor Road . About 70 kms from     Udaipur </font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;">

            <p class="MsoNormal"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Bhadrakali Mata</font></b></p>

            </td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Daad, Porwal,     Boon</font></p>

            </td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;">

            <p class="MsoNormal"><font face="Microsoft Sans Serif" color="#000080" size="2">Located in     Mahakali Mandir at Hanumangadh (Bikaner), Gujarat&nbsp;</font></p>

            </td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Ashapura Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Taparia, Chandak,     Patwa, Bhaiya</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none; text-align: justify;"><font face="Microsoft Sans Serif" color="#000080" size="2">Located near the     lake in Peepal gaon which is abt 4 miles awayPerlaad, which is turn is 14     mils from Ashapur (Uadipur). There is a temple in Nadol, Pali District. An     ancient temple is near Asani Fort </font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Daghvant Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Chechani, Dayma,     Bharadia</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Located in Kirna     Saria village, near Manglore village in Nagaur district, about 6 miles from     Rolegaon</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Falodhi Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Jaju, Dhupad,     Heda</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Located in Medta     Road (Naguar) inside Shri Falaudi Brahmani Maneshwari Temple, west of     Ramganj Station</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Sisnay Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Jakhotia</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Mandalgaon (Bhilwada)</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Khunkhar Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Toshniwal, Totla,     Modi</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Vil. Toshni,     Dist. Nagaur. Khokhari mata temple located in Tivari, about 22 kms norty of     Jodhpur</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Naganechi Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Dargad, Bhandari</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">At Negadia,     Nathara, Udapura, Bikaner</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Shamal Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Lohia</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Located at     Petaran Patti. Can be reached via Byawar</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Dharjal Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Navdhar</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">At Pokharan,     Dist. Jaisalmer</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Gayal Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Bajaj, Lahoti (Sanvad),     Jhavar</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Located at Aasop,     abt 40 kms from Medata city via Goran on Jodhpur Road. The diety was found     in Paldhi near Jalgaon</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Mundal Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Mundada</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">At Mundiyad     village, in Mundhiwad, 28 miles from Nagaur</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Khiwanj Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Bhutada</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">2 kms from     Pokharan</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b>     <font face="Microsoft Sans Serif" color="#000080" size="2">Sendal Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Baheti, Dagra,     Pansari,gholkiya</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">&nbsp;Ramgaon near     Jaisalmer</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Hinglad Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Baldava</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Village Laudrava,     Dist. Jaisalmer . Original temple in Sivan in Badmer.</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Manudhani Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Mandhaniya</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">In the house of     Guru Rajendrakumar Sukhdeviji Vyas, koth Mohalla, Didwan</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Dhaulesari Rui     Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Mandovara</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Located on the     hillock at Vahatu village in Dist Alwar</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Sevlya Maata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Soni</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">In Oosia, Bagov,     Tehsil Mandal, Dist. Bhilwada</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Jhin Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Sodhani</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">At 10 kms south     of Sikkar in Aravali Hills, about 6 miles from Goria station</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Sati Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Bharadia</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Vambori, about 30     kms from Chitod or 22 kms fromNimvaheda</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Nausalya </font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Kharwad </font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Located in the     field of Khatodji at Dahadi, The. Jaavad, Dist. Mandsaur</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Kharwad </font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Khatodji at     Dahadi, The. Jaavad, Dist. Mandsaur</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Dayal Mata<br />

            (Matri Mata)</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Porwal, Gilda (Mutha)</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">In Deru village     after alighting at Jorapur Bus Stand on Jodhpur Nagore Road abt 20 kms far     from Nagaur</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-top: medium none;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Baakal Mata (Baikeshwari Mata)(Beesal Mata)</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">Laddha</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-top: medium none; border-left: medium none;"><font face="Microsoft Sans Serif" color="#000080" size="2">At Ummednagar,     Ossia Tehsil, Dist Jodhpur. On Bhilwada Raipur road</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-color: -moz-use-text-color windowtext windowtext;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Beesal Mata<br />

            Saavangya Mata<br />

            Sangal Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-color: -moz-use-text-color windowtext windowtext -moz-use-text-color;"><font face="Microsoft Sans Serif" color="#000080" size="2">Bhattad, Malpani,     Lathi</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-color: -moz-use-text-color windowtext windowtext -moz-use-text-color;"><font face="Microsoft Sans Serif" color="#000080" size="2">At Bhadaria     Village, in Jaisalmer dist.about 40 kms from ramdevraya Pokran</font></td>

        </tr>

        <tr>

            <td width="131" valign="top" style="border-right: 1pt solid windowtext; padding: 0in 5.4pt; border-width: medium 1pt 1pt; border-style: none solid solid; border-color: -moz-use-text-color windowtext windowtext;"><b><font face="Microsoft Sans Serif" color="#000080" size="2">Karni Mata</font></b></td>

            <td bgcolor="#A0C4FE" width="293" valign="top" style="border-right: 1pt solid windowtext; padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-color: -moz-use-text-color windowtext windowtext -moz-use-text-color;"><font face="Microsoft Sans Serif" color="#000080" size="2">Chandak</font></td>

            <td bgcolor="#A0C4FE" width="487" valign="top" style="border-right: 1pt solid windowtext; padding: 0in 5.4pt; border-width: medium 1pt 1pt medium; border-style: none solid solid none; border-color: -moz-use-text-color windowtext windowtext -moz-use-text-color;"><font face="Microsoft Sans Serif" color="#000080" size="2">At deshnokh..<br />

            </font></td>

        </tr>

    </tbody>

</table>
