<style type="text/css">
.admin-pannel{
  width: 300px;
  float: right;
}
body{
    
   background: url(/assets/i.png )  repeat ;
    }

a{color:#0078d2;}
a:hover{text-decoration: none;}
</style>
<div class="container">
    <div class="row">
        <div class="span2">
            <img src="https://lh6.googleusercontent.com/-5Oyxshb7xmo/UcRDSp0bdlI/AAAAAAAAABc/ydqzdfO_NDw/w238-h237-no/Ashish9.jpg" class="img-circle">
        </div>
        <div class="span4">
            <blockquote>
                <p>Ashish Bajaj</p>
                <small>
                    <cite title="Source Title">Ranigunj,Hyderabad <i class="icon-map-marker"></i>
                    </cite>
                </small>
            </blockquote>
            <p>
                5-1-237, First Floor<br>
                Hill Street,Ranigunj<br>
                Secunderabad - 500 003<br>
                Andhra Pradesh (India)<br>
                <abbr>Ph:</abbr>&nbsp;90 300 27648 / 49<br>
                <i class="icon-envelope"></i> maheshwari.jagruth@gmail.com <br>
                <i class="icon-globe"></i> www.maheshwarijagruth.com <br>
            </p>
        </div>
    </div>
</div>