<style type="text/css">
.admin-pannel{
  width: 300px;
  float: right;
}
body{
    background: url(/assets/i.png )  repeat ;
    }
#page-title {
    margin: 0px 0px 21px;
    padding-bottom:  5px;
    border-bottom: 1px solid gainsboro;
    font: 1.2em/1 DNRM;
    font-weight: 400;
    color: rgb(68, 68, 68);
/*    text-transform: uppercase;
*/}
 a{color:#0078d2;}
a:hover{text-decoration: none;}
 </style>
<div class="row" style="padding-top:2em">
   

<div class="span4">
      <address>
         <div id="page-title">
              <cite title="Source Title">ASHISH BAJAJ
              </cite>
        <small>
 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Manager-Public Relations</p>

        </small>
    </div>
     5-1-237, First Floor<br>
    Hill Street,Ranigunj<br>
    Secunderabad - 500 003<br>
    Andhra Pradesh (India)<br>
    <abbr>Ph:</abbr>&nbsp;90 300 27648 / 49<br><br>

     <strong>Email:</strong><br>
    <i class="icon-envelope"></i>
    <a href="mailto:info@maheshwarijagruth.com#">info@maheshwarijagruth.com</a>
<br>
    <strong>Site URL:</strong><br>
    <i class="icon-globe"></i>
    <a href="/">maheshwarijagruth.com</a>
    </address>
 
 </div>
</div>




 