<style type="text/css">
body{
    background: url(/assets/i.png )  repeat ;
    }
 
</style>
<div class="container">
    <div class="row">
        <div class="span4">
            <blockquote>
                <p>Ashish Bajaj</p>
                <small>
                    <cite title="Source Title">Manager-Public Relations
                    </cite>
                </small>
            </blockquote>
            <p>
                5-1-237, First Floor<br>
                Hill Street,Ranigunj<br>
                Secunderabad - 500 003<br>
                Andhra Pradesh (India)<br>
                <abbr>Ph:</abbr>&nbsp;90 300 27648 / 49<br>
                <i class="icon-envelope"></i> info@maheshwarijagruth.com <br>
                <i class="icon-globe"></i> www.maheshwarijagruth.com <br>
            </p>
        </div>
    </div>
</div>
 