<style type="text/css">
.admin-pannel{
  width: 300px;
  float: right;
}
body{
    background: url(/assets/i.png )  repeat ;
    }
#page-title {
    margin: 0px 0px 21px;
    padding-bottom:  5px;
    border-bottom: 1px solid gainsboro;
    font: 1.2em/1 DNRM;
    font-weight: 400;
    color: rgb(68, 68, 68);
    text-transform: uppercase;
}
 a{color:#0078d2;}
a:hover{text-decoration: none;}
 </style>
<div class="row" style="padding-top:2em">
    <div class="span2">

 <img src="https://lh6.googleusercontent.com/-5Oyxshb7xmo/UcRDSp0bdlI/AAAAAAAAABc/ydqzdfO_NDw/w238-h237-no/Ashish9.jpg" class="img-circle" width="100">
</div>
<div class="span4">
 <p id="page-title">Contact</p>
     <address>
    <strong>Maheshwrari Jagruth</strong><br>
    5-1-237, First Floor<br>
    Hill Street,Ranigunj<br>
    Secunderabad - 500 003<br>
    Andhra Pradesh (India)<br>
    <abbr>Ph:</abbr>&nbsp;90 300 27648 / 49
    </address>
     
    <address>
    <strong>Email:</strong><br>
    <a href="mailto:info@maheshwarijagruth.com#">info@maheshwarijagruth.com</a>
<br>
    <strong>Site URL:</strong><br>
    <a href="/">maheshwarijagruth.com</a>
    </address>





</div>
</div>



 