<style type="text/css">
.admin-pannel{
  width: 300px;
  float: right;
}
body{
    
   background: url(/assets/i.png )  repeat ;
    }
#page-title {
    margin: 0px 0px 21px;
    padding-bottom:  5px;
    border-bottom: 1px solid gainsboro;
    font: 1.2em/1 DNRM;
    font-weight: 400;
    color: rgb(68, 68, 68);
    text-transform: uppercase;
}

 
a{color:#0078d2;}
a:hover{text-decoration: none;}




</style>
<div class="row" style="padding-top:2em">
    <div class="span4">
<p id="page-title">Contact</p>
     <address>
    <strong>Maheshwrari Jagruth</strong><br>
    5-1-237, First Floor<br>
    Hill Street,Ranigunj<br>
    Secunderabad - 500 003<br>
    Andhra Pradesh (India)<br>
    <abbr>Ph:</abbr>&nbsp;90 300 27648 / 49
    </address>
     
    <address>
    <strong>Email</strong><br>
    <a href="mailto:info@maheshwarijagruth.com#">info@maheshwarijagruth.com</a>
    </address>
</div>
<div class="span7">

<iframe width="700" height="380" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=maheshwari+jagruth&amp;sll=17.441471,78.495898&amp;sspn=0.022273,0.055962&amp;ie=UTF8&amp;hq=maheshwari+jagruth&amp;hnear=&amp;ll=17.441471,78.495898&amp;spn=0.022273,0.055962&amp;t=m&amp;output=embed"></iframe><br /> 



</div>
</div>
