 <% @ads.each do |ad| %>    
 
             
                <p><% link_to ad, ad_path(ad) %></p>
                <p align='center'> &#x2605;&nbsp;<%=link_to ad,ad_path(ad) %></p>                

                     

                  <br>       
                  <% end %>



 
















































<!-- 
   
<div class="layout">

    <div class="firstC">
      <div class="col2 leftalign">
        <div class="adspace">
          <div class="innerspace">
            <div class="leadname">
             <a href="https://google.co.in">Advertisements</a>
            </div>
            <div class="adimage">
              <img class="imgsize" src="http://webneel.com/sites/default/files/images/project/Creative%20Christmas%20Ads%20(4).jpg">
            </div>
          </div>
        </div>


             <div class="adspace">
          <div class="innerspace">
            <div class="leadname">
              <a href="https://google.co.in">Advertisements</a>
            </div>
            <div class="adimage">
              <img class="imgsize" src="http://blog.releasemyad.com/wp-content/uploads/2012/05/the-new-indian-express.png">
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div class="secondC">
      <div class="col2 leftalign">
          <div class="adspace">
          <div class="innerspace">
            <div class="leadname">
              <a href="https://google.co.in">Advertisements</a>
            </div>
            <div class="adimage">
              <img class="imgsize" src="http://webneel.com/sites/default/files/images/project/Creative%20Christmas%20Ads%20(4).jpg">
            </div>
          </div>
        </div>
        
          <div class="adspace">
          <div class="innerspace">
            <div class="leadname">
              <a href="https://google.co.in">Advertisements</a>
            </div>
            <div class="adimage">
              <img class="imgsize" src="http://2.bp.blogspot.com/_g6OS3MsgtWQ/TP72RDQ_IzI/AAAAAAAAAV8/ctB6KFQy3nc/s1600/IndianAds15.jpg">
            </div>
          </div>
        </div> 
      </div>
    </div>

    <div class="centercontainer">
        <div class="adspace">
          <div class="innerspace">
            <div class="leadname">
              <a href="https://google.co.in">Advertisements</a>
            </div>
            <div class="adimage">
              <img class="imgsize" src="http://t1.gstatic.com/images?q=tbn:ANd9GcT2p1ucSsIRpZKCYRqsy8b-VFFUKDxttaZOVqfj3AFgWb1kG_aV">
            </div>
          </div>
        </div> 
         
        <div class="adspace">
          <div class="innerspace">
            <div class="leadname">
              <a href="https://google.co.in">Advertisements</a>
            </div>
            <div class="adimage">
              <img class="imgsize" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ-rt92H45VB49pDeE7T__esqat15S1zUP8gARi9ajP5QW2gapn0w">
            </div>
          </div>
        </div> 
         
        
    </div>
    
    <div class="fourthcontainer">
    <div class="adspace">
          <div class="innerspace">
            <div class="leadname">
              <a href="https://google.co.in">Advertisements</a>
            </div>
            <div class="adimage">
              <img class="imgsize" src="http://webneel.com/sites/default/files/images/project/Creative%20Christmas%20Ads%20(4).jpg">
            </div>
          </div>
        </div>
        <div class="adspace">
          <div class="innerspace">
            <div class="leadname">
              <a href="https://google.co.in">Advertisements</a>
            </div>
            <div class="adimage">
              <img class="imgsize" src="http://adsoftheworld.com/sites/default/files/styles/media/public/Star.jpg?itok=OaRcVdUZ">
            </div>
          </div>
         
       
</div>
  <div class="fifthcontainer">
     
        
         
       
    </div>
 </div>
 -->