

<table class="table  table-bordered table-condensed " cellspacing="1" cellpadding="1" border="1" align="center" style="width: 655px; height: 740px; background-color:green">
    <tbody>
        <tr>
            <td width="31" style="text-align: center;"><span style="color: rgb(255, 255, 153);"><span style="font-size: large;"><b>Sr.NO</b></span></span></td>
            <td width="339" style="text-align: center;"><span style="color: rgb(255, 255, 153);"><b><span style="font-size: large;">Kuldevi Name</span></b></span></td>
            <td width="139" style="text-align: center;"><span style="color: rgb(255, 255, 153);"><b><span style="font-size: large;">Location</span></b></span></td>
            <td width="123" style="text-align: center;"><span style="color: rgb(255, 255, 153);"><b>For more information</b></span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">1</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Nausar Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">2</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Asavari Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">3</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Sachhiyay Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">4</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Bhaisad mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">5</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Aamal Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">6</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Likasan Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">7</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Chavada Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">8</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Pattaya Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">9</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Susmaad Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">10</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Bandhar Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">11</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Bhadrakali Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">12</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Ashapura Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">13</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Daghvant Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">14</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Falodhi Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">15</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Sisnay Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">16</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Khunkhar Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">17</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Naganechi Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">18</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Shamal Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">19</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Dharjal Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">20</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Gayal Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">21</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Mundal Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">22</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Khiwanj Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">23</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Sendal Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">24</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Hinglad Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">25</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Manudhani Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">26</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Dhaulesari Rui Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">27</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Sevlya Maata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">28</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Jhin Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">29</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Sati Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">30</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Nausalya</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">31</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Dayal Mata/Matri Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">32</span></td>
            <td width="339">
            <p>&nbsp;</p>
            <span style="color: rgb(255, 255, 153);">
            <p><b><font face="Microsoft Sans Serif" size="2">Baakal Mata Baikeshwari Mata/</font></b><b><font face="Microsoft Sans Serif" size="2">Beesal Mata</font></b></p>
            </span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">33</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);">&nbsp;<b><font face="Microsoft Sans Serif" size="2">Beesal Mata/Saavangya Mata/Sangal Mata</font></b></span></td>
            <td width="139"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
            <td width="123"><span style="color: rgb(255, 255, 153);">&nbsp;</span></td>
        </tr>
        <tr>
            <td width="31"><span style="color: rgb(255, 255, 153);">34</span></td>
            <td width="339"><span style="color: rgb(255, 255, 153);"><b><font face="Microsoft Sans Serif" size="2">Karni Mata</font></b></span></td>
            <td width="139" style="text-align: center;"><span style="color: rgb(255, 255, 153);"><span style="font-weight: bold;">Deshnok,Bikaner</span></span></td>
            <td width="123" style="text-align: center;"><span style="color: rgb(255, 255, 153);">&nbsp;</span><a href="details_of_karni_mata_3116214.html" target="_self"><span style="color: rgb(255, 255, 153);"><span style="font-size: small;">Click Here</span></span></a></td>
        </tr>
    </tbody>
</table>

