<table cellspacing="1" cellpadding="1" border="1" align="center" style="width: 554px; height: 4384px;">
    <tbody>
        <tr>
            <td width="16">No</td>
            <td width="95">Gotra(Surname)</td>
            <td width="67" style="text-align: center;">Gotra</td>
            <td width="86" style="text-align: center;">Goddess</td>
            <td width="323" style="text-align: center;">Location</td>
        </tr>
        <tr>
            <td width="16">1</td>
            <td width="95">Ajmera</td>
            <td width="67">Manans</td>
            <td width="86">Nausar Mata</td>
            <td width="323" style="text-align: justify;">Kaner,                           Dist.Chittodgad, 5 kms from Ajmer in Pushkar valley.</td>
        </tr>
        <tr>
            <td width="16">2</td>
            <td width="95">Asava</td>
            <td width="67">Panchans</td>
            <td width="86">Asavari Mata</td>
            <td width="323">New large temple                           in Ossia, 10 kms from Jaisalmer, at Didwanna, 12 kms from Kiradu Barme</td>
        </tr>
        <tr>
            <td width="16">3</td>
            <td width="95">Attal</td>
            <td width="67">Gataumasya</td>
            <td width="86">Sachhiyay Mata</td>
            <td width="323">At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">4</td>
            <td width="95">Agiwal</td>
            <td width="67">Chandrans</td>
            <td width="86">Bhaisad mata</td>
            <td width="323">At Pada Mata Didwana</td>
        </tr>
        <tr>
            <td width="16">5</td>
            <td width="95">Aagsuad</td>
            <td width="67">Kaschyap</td>
            <td width="86">Jakhan Mata</td>
            <td width="323">&nbsp;</td>
        </tr>
        <tr>
            <td width="16">6</td>
            <td width="95">Baldua</td>
            <td width="67">Valans</td>
            <td width="86">Hinglad Mata</td>
            <td width="323">Village Laudrava,Dist. Jaisalmer . Original temple in Sivan<br />
            in Badmer.</td>
        </tr>
        <tr>
            <td width="16">7</td>
            <td width="95">Baaldi</td>
            <td width="67">Lauras</td>
            <td width="86">Garans Sati Mata</td>
            <td width="323">Javadnagar</td>
        </tr>
        <tr>
            <td width="16">8</td>
            <td width="95">Boob</td>
            <td width="67">Musayas</td>
            <td width="86">Bhadrakali Mata</td>
            <td width="323">Hanumangadh, Lekhasan (Gujarat)</td>
        </tr>
        <tr>
            <td width="16">9</td>
            <td width="95">Bangad</td>
            <td width="67">Chudans</td>
            <td width="86">Sachhiyay Mata</td>
            <td width="323">At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">10</td>
            <td width="95">Bihani</td>
            <td width="67">Balans</td>
            <td width="86">Sachhiyay Mata</td>
            <td width="323">At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">11</td>
            <td width="95">Bidada</td>
            <td width="67">Gajans</td>
            <td width="86">Pattaya Mata</td>
            <td width="323">Didawana, Jayal</td>
        </tr>
        <tr>
            <td width="16">12</td>
            <td width="95">Baheti</td>
            <td width="67">Silansh</td>
            <td width="86">Sandal Mata,<br />
            Dhut Mata</td>
            <td width="323">Ramgad, Kiralsariya</td>
        </tr>
        <tr>
            <td width="16">13</td>
            <td width="95">Bajaj</td>
            <td width="67">Bhansali</td>
            <td width="86">Gayal Mata</td>
            <td width="323">Located at Aasop, abt 40 kms from Medata city via Goran<br />
            on Jodhpur Road. The diety was found in Paldhi near<br />
            Jalgaon</td>
        </tr>
        <tr>
            <td width="16">14</td>
            <td width="95">Birla</td>
            <td width="67">Balans</td>
            <td width="86">Sachhiyay Mata</td>
            <td width="323">At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">15</td>
            <td width="95">Bang</td>
            <td width="67">Sodans</td>
            <td width="86">Khandal Mata</td>
            <td width="323">Mundva</td>
        </tr>
        <tr>
            <td width="16">16</td>
            <td width="95">Bhandari</td>
            <td width="67">Kaushik</td>
            <td width="86">Naganechi Mata</td>
            <td width="323">At Negadia, Nathara, Udapura, Bikaner</td>
        </tr>
        <tr>
            <td width="16">17</td>
            <td width="95">Bhattad</td>
            <td width="67">Bhattayans</td>
            <td width="86">Chavanda Mata</td>
            <td width="323">
            <p>Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didavan,Jayal</p>
            <p>At Bhadaria Village, in Jaisalmer dist.about 40 kms from<br />
            ramdevraya Pokran</p>
            </td>
        </tr>
        <tr>
            <td width="16">18</td>
            <td width="95">Bhutada</td>
            <td width="67">Attalans</td>
            <td width="86">Khiwanj Mata</td>
            <td width="323">2 kms from Pokharan</td>
        </tr>
        <tr>
            <td width="16">19</td>
            <td width="95">Bhuradia</td>
            <td width="67">&nbsp;Achitrans</td>
            <td width="86">&nbsp;Daghvant Mata</td>
            <td width="323">&nbsp;Kirna Saria</td>
        </tr>
        <tr>
            <td width="16">20</td>
            <td width="95">Bharadia</td>
            <td width="67">&nbsp;</td>
            <td width="86">&nbsp;Sati Mata</td>
            <td width="323">&nbsp;Vambori, about 30 kms from Chitod or 22 kms</td>
        </tr>
        <tr>
            <td width="16">21</td>
            <td width="95">Bhansaali</td>
            <td width="67">&nbsp;Bhansaali</td>
            <td width="86">&nbsp;Chavanda Mata</td>
            <td width="323">&nbsp;Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didawana,<br />
            Jayal</td>
        </tr>
        <tr>
            <td width="16">22</td>
            <td width="95">Chandak</td>
            <td width="67">&nbsp;Chandrans</td>
            <td width="86">&nbsp;Ashapura Mata</td>
            <td width="323">&nbsp;Located near the lake in Peepal gaon which is abt 4 miles<br />
            awayPerlaad, which is turn is 14 mils from Ashapur<br />
            (Uadipur). There is a temple in Nadol, Pali District. An<br />
            ancient temple is near Asani Fort</td>
        </tr>
        <tr>
            <td width="16">23</td>
            <td width="95">Chowkhda</td>
            <td width="67">&nbsp;Chandrans</td>
            <td width="86">&nbsp;Jevan Mata</td>
            <td width="323">&nbsp;Khasa Jodhpur</td>
        </tr>
        <tr>
            <td width="16">24</td>
            <td width="95">Chachani</td>
            <td width="67">&nbsp;Sesans</td>
            <td width="86">&nbsp;Daghvant Mata</td>
            <td width="323">&nbsp;Located in Kirna Saria village, near Manglore village in<br />
            Nagaur district, about 6 miles from Rolegaon</td>
        </tr>
        <tr>
            <td width="16">25</td>
            <td width="95">Chhaparwal</td>
            <td width="67">&nbsp;Kaushik</td>
            <td width="86">&nbsp;Bandhar Mata</td>
            <td width="323">&nbsp;Located on the hillock at tanagaon, which is 10 kms from<br />
            Mogargaon, on left hand side on the road leading to Aakola<br />
            on Udaipur to Chitor Road . About 70 kms from Udaipur</td>
        </tr>
        <tr>
            <td width="16">26</td>
            <td width="95">Daad</td>
            <td width="67">&nbsp;Amrans</td>
            <td width="86">&nbsp;Bhadrakali Mata</td>
            <td width="323">&nbsp;Located in Mahakali Mandir at Hanumangadh (Bikaner),<br />
            Gujarat)</td>
        </tr>
        <tr>
            <td width="16">27</td>
            <td width="95">Daga</td>
            <td width="67">&nbsp;Rajhans</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">28</td>
            <td width="95">Dammani</td>
            <td width="67">&nbsp;Kapilansh</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">29</td>
            <td width="95">Darak</td>
            <td width="67">&nbsp;Haridrans</td>
            <td width="86">&nbsp;Musa Mata</td>
            <td width="323">&nbsp;</td>
        </tr>
        <tr>
            <td width="16">30</td>
            <td width="95">Dargad</td>
            <td width="67">&nbsp;Gowans</td>
            <td width="86">&nbsp;Naganechi Mata</td>
            <td width="323">&nbsp;At Negadia, Nathara, Udapura, Bikaner</td>
        </tr>
        <tr>
            <td width="16">31</td>
            <td width="95">Devpura</td>
            <td width="67">&nbsp;Paras</td>
            <td width="86">&nbsp;Pattaya Mata</td>
            <td width="323">&nbsp;Didawana, Jayal</td>
        </tr>
        <tr>
            <td width="16">32</td>
            <td width="95">Dhoot</td>
            <td width="67">&nbsp;Fafdans</td>
            <td width="86">&nbsp;Likasan Mata</td>
            <td width="323">&nbsp;Likasan</td>
        </tr>
        <tr>
            <td width="16">33</td>
            <td width="95">Dhupad</td>
            <td width="67">&nbsp;Sirses</td>
            <td width="86">&nbsp;Falodhi Mata</td>
            <td width="323">&nbsp;Located in Medta Road (Naguar) inside Shri Falaudi<br />
            Brahmani Maneshwari Temple, west of Ramganj Station</td>
        </tr>
        <tr>
            <td width="16">34</td>
            <td width="95">Gagrani</td>
            <td width="67">&nbsp;Kaschyap</td>
            <td width="86">&nbsp;Pattaya Mata</td>
            <td width="323">&nbsp;Didawana, Jayal</td>
        </tr>
        <tr>
            <td width="16">35</td>
            <td width="95">Gattani</td>
            <td width="67">&nbsp;Dhanans</td>
            <td width="86">&nbsp;Chavanda Mata</td>
            <td width="323">&nbsp;Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didawana,<br />
            Jayal</td>
        </tr>
        <tr>
            <td width="16">36</td>
            <td width="95">Gadiya</td>
            <td width="67">&nbsp;Gaurans</td>
            <td width="86">&nbsp;Bandhar Mata</td>
            <td width="323">&nbsp;Located on the hillock at tanagaon, which is 10 kms from<br />
            Mogargaon, on left hand side on the road leading to Aakola<br />
            on Udaipur to Chitor Road . About 70 kms from Udaipur</td>
        </tr>
        <tr>
            <td width="16">37</td>
            <td width="95">Gilada(Mutha)</td>
            <td width="67">&nbsp;Gataumasya</td>
            <td width="86">&nbsp;Dayal Mata</td>
            <td width="323">&nbsp;In Deru village after alighting at Jorapur Bus Stand on<br />
            Jodhpur Nagore Road abt 20 kms far from Nagaur</td>
        </tr>
        <tr>
            <td width="16">38</td>
            <td width="95">Hurkat</td>
            <td width="67">&nbsp;Visvant</td>
            <td width="86">&nbsp;</td>
            <td width="323">&nbsp;</td>
        </tr>
        <tr>
            <td width="16">39</td>
            <td width="95">Heda</td>
            <td width="67">&nbsp;Dhanans</td>
            <td width="86">&nbsp;Falodhi Mata</td>
            <td width="323">&nbsp;Medta Road, Ramganj</td>
        </tr>
        <tr>
            <td width="16">40</td>
            <td width="95">Innani</td>
            <td width="67">&nbsp;Sasans</td>
            <td width="86">&nbsp;Jasal Mata</td>
            <td width="323">&nbsp;</td>
        </tr>
        <tr>
            <td width="16">41</td>
            <td width="95">Jajoo</td>
            <td width="67">&nbsp;Balansh</td>
            <td width="86">&nbsp;Falodhi Mata</td>
            <td width="323">&nbsp;Medta Road, Ramganj</td>
        </tr>
        <tr>
            <td width="16">42</td>
            <td width="95">Jakhetia</td>
            <td width="67">&nbsp;Seelans</td>
            <td width="86">&nbsp;Sisnay Mata</td>
            <td width="323">&nbsp;Mandalgaon</td>
        </tr>
        <tr>
            <td width="16">43</td>
            <td width="95">Jhanwar</td>
            <td width="67">&nbsp;Manmans</td>
            <td width="86">&nbsp;Gayal Mata</td>
            <td width="323">&nbsp;Located at Aasop, abt 40 kms from Medata city via Goran<br />
            on Jodhpur Road. The diety was found in Paldhi near<br />
            Jalgaon</td>
        </tr>
        <tr>
            <td width="16">44</td>
            <td width="95">Karva</td>
            <td width="67">&nbsp;Karwans</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">45</td>
            <td width="95">Kankani</td>
            <td width="67">&nbsp;Gataumasya</td>
            <td width="86">&nbsp;Aamal Mata</td>
            <td width="323">&nbsp;Mandesar Udaipur, village Riched, Tehsil Kumbhalgad, Dist.<br />
            Rajsamand. Can be reached from Ajmer to Udaipur road via<br />
            Charbhuja. From Jodhpur on road to Kumbhlagad</td>
        </tr>
        <tr>
            <td width="16">46</td>
            <td width="95">Kahalia</td>
            <td width="67">&nbsp;Kagayans</td>
            <td width="86">&nbsp;Likasan Mata</td>
            <td width="323">&nbsp;At Choti Khatu, Village Likasan, Dist. Nagaur (abt 6-7 Kms<br />
            far from Nagaur) From Didwana 18 kms, from Choti Khatu<br />
            4 miles east)</td>
        </tr>
        <tr>
            <td width="16">47</td>
            <td width="95">Kalantri</td>
            <td width="67">&nbsp;Kaschyap</td>
            <td width="86">&nbsp;Chavanda Mata</td>
            <td width="323">&nbsp;Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didawana,<br />
            Jayal</td>
        </tr>
        <tr>
            <td width="16">48</td>
            <td width="95">Kasat</td>
            <td width="67">&nbsp;Attlaans</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">49</td>
            <td width="95">Kacholiya</td>
            <td width="67">&nbsp;Seelans</td>
            <td width="86">&nbsp;Pattaya Mata</td>
            <td width="323">&nbsp;Didwana, Jayal</td>
        </tr>
        <tr>
            <td width="16">50</td>
            <td width="95">Kalani</td>
            <td width="67">&nbsp;Khalans</td>
            <td width="86">&nbsp;Chavanda Mata</td>
            <td width="323">&nbsp;In between Medta City and Medta Road. Also in Chamunda<br />
            village, Dist Jodhpur near Keru. Also in between Pushkar &ndash;<br />
            Ajmer. A temple is also in Jodhpur fort.</td>
        </tr>
        <tr>
            <td width="16">51</td>
            <td width="95">Kabra</td>
            <td width="67">&nbsp;Aachitransh</td>
            <td width="86">&nbsp;Susmaad Mata</td>
            <td width="323">&nbsp;Kuchera</td>
        </tr>
        <tr>
            <td width="16">52</td>
            <td width="95">Kalia</td>
            <td width="67">&nbsp;Jhumrans</td>
            <td width="86">&nbsp;Asavari Mata</td>
            <td width="323">&nbsp;Jaisalmer, Didwana, Kiradu</td>
        </tr>
        <tr>
            <td width="16">53</td>
            <td width="95">Khawad</td>
            <td width="67">&nbsp;Mugans</td>
            <td width="86">&nbsp;Nausalya Mata</td>
            <td width="323">
            <p>&nbsp;Dahadi, Ram Ganj, Didavana, Medta Road</p>
            <p>Located in the field of Khatodji at Dahadi, The. Jaavad,<br />
            Dist. Mandsaur</p>
            </td>
        </tr>
        <tr>
            <td width="16">54</td>
            <td width="95">Ladha</td>
            <td width="67">&nbsp;Seelans</td>
            <td width="86">&nbsp;Baakal Mata</td>
            <td width="323">&nbsp;At Ummednagar, Ossia Tehsil, Dist Jodhpur. On Bhilwada<br />
            Raipur road</td>
        </tr>
        <tr>
            <td width="16">55</td>
            <td width="95">Lahoti</td>
            <td width="67">&nbsp;Kagans</td>
            <td width="86">&nbsp;Chavanda Mata</td>
            <td width="323">&nbsp;Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didawana,<br />
            Jayal</td>
        </tr>
        <tr>
            <td width="16">56</td>
            <td width="95">&nbsp;</td>
            <td width="67">&nbsp;</td>
            <td width="86">&nbsp;Gayal Mata</td>
            <td width="323">&nbsp;Located at Aasop, abt 40 kms from Medata city via Goran<br />
            on Jodhpur Road. The diety was found in Paldhi near<br />
            Jalgaon</td>
        </tr>
        <tr>
            <td width="16">57</td>
            <td width="95">Lakhotia</td>
            <td width="67">&nbsp;Fafdans</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">58</td>
            <td width="95">Lohia</td>
            <td width="67">&nbsp;</td>
            <td width="86">&nbsp;Shamal Mata</td>
            <td width="323">&nbsp;Located at Petaran Patti. Can be reached via Byawar.</td>
        </tr>
        <tr>
            <td width="16">59</td>
            <td width="95">Malooda</td>
            <td width="67">&nbsp;Khalansi</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">60</td>
            <td width="95">Malpani</td>
            <td width="67">&nbsp;Bhatyas</td>
            <td width="86">&nbsp;Sangal Mata</td>
            <td width="323">&nbsp;Bhadaria</td>
        </tr>
        <tr>
            <td width="16">61</td>
            <td width="95">Mandhania</td>
            <td width="67">&nbsp;Jaislani</td>
            <td width="86">&nbsp;Manudhani Mata</td>
            <td width="323">&nbsp;In the house of Guru Rajendrakumar Sukhdeviji Vyas, koth<br />
            Mohalla, Didwan</td>
        </tr>
        <tr>
            <td width="16">62</td>
            <td width="95">Mundhada</td>
            <td width="67">&nbsp;Gowans</td>
            <td width="86">&nbsp;Mundal Mata</td>
            <td width="323">&nbsp;At Mundiyad village, in Mundhiwad, 28 miles from Nagaur</td>
        </tr>
        <tr>
            <td width="16">63</td>
            <td width="95">Mandowara</td>
            <td width="67">&nbsp;Vachans</td>
            <td width="86">&nbsp;Dhaulesari Rui<br />
            Mata</td>
            <td width="323">&nbsp;Located on the hillock at Vahatu village in Dist Alwar</td>
        </tr>
        <tr>
            <td width="16">64</td>
            <td width="95">Maniyar</td>
            <td width="67">&nbsp;Kaushik</td>
            <td width="86">&nbsp;Dayam Dayavant<br />
            Mata</td>
            <td width="323">&nbsp;Kirnasariya</td>
        </tr>
        <tr>
            <td width="16">65</td>
            <td width="95">Modani</td>
            <td width="67">&nbsp;Sandans</td>
            <td width="86">&nbsp;Chavanda Mata</td>
            <td width="323">&nbsp;Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didavan,<br />
            Jayal</td>
        </tr>
        <tr>
            <td width="16">66</td>
            <td width="95">Mantri</td>
            <td width="67">&nbsp;Kamlas</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">67</td>
            <td width="95">Navaal</td>
            <td width="67">&nbsp;Nandans</td>
            <td width="86">&nbsp;Navasan-sati<br />
            Jakhan Mata</td>
            <td width="323">&nbsp;</td>
        </tr>
        <tr>
            <td width="16">68</td>
            <td width="95">Novlakha</td>
            <td width="67">&nbsp;Gawans</td>
            <td width="86">&nbsp;Pattaya Mata</td>
            <td width="323">&nbsp;Didwana, Jayal</td>
        </tr>
        <tr>
            <td width="16">69</td>
            <td width="95">Nyati</td>
            <td width="67">&nbsp;Nanased</td>
            <td width="86">&nbsp;Chandsen</td>
            <td width="323">&nbsp;</td>
        </tr>
        <tr>
            <td width="16">70</td>
            <td width="95">Navandhar</td>
            <td width="67">&nbsp;Bugdalimb</td>
            <td width="86">&nbsp;Dharjal Mata</td>
            <td width="323">&nbsp;At Pokharan, Dist. Jaisalmer</td>
        </tr>
        <tr>
            <td width="16">71</td>
            <td width="95">Pallod</td>
            <td width="67">&nbsp;Saadans</td>
            <td width="86">&nbsp;Chavanda Mata</td>
            <td width="323">&nbsp;Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didavan,<br />
            Jayal</td>
        </tr>
        <tr>
            <td width="16">72</td>
            <td width="95">Partani</td>
            <td width="67">&nbsp;Kaschyap</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">73</td>
            <td width="95">Porwar</td>
            <td width="67">&nbsp;Nanans</td>
            <td width="86">&nbsp;Mathri Mata</td>
            <td width="323">&nbsp;Hanumangad</td>
        </tr>
        <tr>
            <td width="16">74</td>
            <td width="95">Parwal</td>
            <td width="67">&nbsp;Nanans</td>
            <td width="86">&nbsp;Dayal Mata</td>
            <td width="323">
            <p>&nbsp;Kinvasar</p>
            <p>In Deru village after alighting at Jorapur Bus Stand on<br />
            Jodhpur Nagore Road abt 20 kms far from Nagaur</p>
            </td>
        </tr>
        <tr>
            <td width="16">75</td>
            <td width="95">Randad</td>
            <td width="67">&nbsp;Kaschyap</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">76</td>
            <td width="95">Rathi</td>
            <td width="67">&nbsp;Kapilans</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">77</td>
            <td width="95">Soni</td>
            <td width="67">&nbsp;Dhumrans</td>
            <td width="86">&nbsp;Sevlya Mata</td>
            <td width="323">&nbsp;In Oosia, Bagov, Tehsil Mandal, Dist. Bhilwada</td>
        </tr>
        <tr>
            <td width="16">78</td>
            <td width="95">Somani</td>
            <td width="67">&nbsp;Liyans</td>
            <td width="86">&nbsp;Bandhar Mata</td>
            <td width="323">&nbsp;Tanagaon</td>
        </tr>
        <tr>
            <td width="16">79</td>
            <td width="95">Sodhani</td>
            <td width="67">&nbsp;Sodhani</td>
            <td width="86">&nbsp;Jhin Mata</td>
            <td width="323">&nbsp;At 10 kms south of Sikkar in Aravali Hills, about 6 miles<br />
            from Goria station</td>
        </tr>
        <tr>
            <td width="16">80</td>
            <td width="95">Sarda</td>
            <td width="67">&nbsp;Thobdans</td>
            <td width="86">&nbsp;Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">81</td>
            <td width="95">Sikchi</td>
            <td width="67">&nbsp;Kaschyap</td>
            <td width="86">Sachhiyay Mata</td>
            <td width="323">&nbsp;At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,<br />
            on Jodhpur &ndash; Jaisalmer broad guage Railway line. Can also<br />
            be reached from Bikaner via Faloudi</td>
        </tr>
        <tr>
            <td width="16">82</td>
            <td width="95">Tavari</td>
            <td width="67">&nbsp;Kaschyap</td>
            <td width="86">&nbsp;Chavanda Mata</td>
            <td width="323">&nbsp;Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didawana,<br />
            Jayal</td>
        </tr>
        <tr>
            <td width="16">83</td>
            <td width="95">Toshniwal</td>
            <td width="67">&nbsp;Kaushik</td>
            <td width="86">&nbsp;Khunkhar Mata</td>
            <td width="323">&nbsp;Vil. Toshni, Dist. Nagaur. Khokhari mata temple located in<br />
            Tivari, about 22 kms norty of Jodhpur</td>
        </tr>
        <tr>
            <td width="16">84</td>
            <td width="95">Totla/Modi</td>
            <td width="67">&nbsp;Kapilansh</td>
            <td width="86">&nbsp;Khunkhar Mata</td>
            <td width="323">&nbsp;Vil. Toshni, Dist. Nagaur. Khokhari mata temple located in<br />
            Tivari, about 22 kms norty of Jodhpur</td>
        </tr>
        <tr>
            <td width="16">&nbsp;</td>
            <td width="95">Tapadiya</td>
            <td width="67">Peeplan</td>
            <td width="86">Ashapura Mata</td>
            <td width="323">Located near the lake in Peepal gaon which is abt 4 miles<br />
            awayPerlaad, which is turn is 14 mils from Ashapur<br />
            (Uadipur). There is a temple in Nadol, Pali District. An<br />
            ancient temple is near Asani Fort</td>
        </tr>
    </tbody>
</table>

