
<div class="row">
  <div class="span8">
    <% @posts.reverse_each  do |post| %>
        <div class="a_space">
        <div class="i_space">
            <div class="adimage"><%= image_tag post.photo.url(:small),:style => 'width:200px;height:200px;border-radius:3px;' %>
            <%= link_to post.title, post_path(post),
            :style => 'text-decoration:none'%>
            </div>
        </div>
        </div>
    <% end %>
  </div>

  <div class="span4">
     
      <div class="well">Post Your news <a>Here</a></div>
   
    <div style="width:320px; height:180px;">
    <object type="application/x-shockwave-flash" data="http://swf.yowindow.com/yowidget3.swf" width="320" height="180">
        <param name="movie" value="http://swf.yowindow.com/yowidget3.swf"/>
        <param name="allowfullscreen" value="true"/>
        <param name="wmode" value="opaque"/>
        <param name="bgcolor" value="#FFFFFF"/>
        <param name="flashvars"
        value="location_id=gn:1269843&amp;location_name=Hyderabad&amp;time_format=12&amp;unit_system=metric&amp;background=#FFFFFF&amp;copyright_bar=false"
    />
        <a href="http://WeatherScreenSaver.com?client=widget&amp;link=copyright"
        style="width:320px;height:180px;display: block;text-indent: -50000px;font-size: 0px;background:#DDF url(http://yowindow.com/img/logo.png) no-repeat scroll 50% 50%;"
        >Weather Widget</a>
    </object>
    </div>
    <div style="width: 320px; height: 15px; font-size: 14px; font-family: Arial,Helvetica,sans-serif;">
    <span style="float:left;"><a target="_top" href="http://WeatherScreenSaver.com?client=widget&amp;link=copyright" style="color: #2fa900; font-weight:bold; text-decoration:none;" title="Screen Saver">YoWindow.com</a></span>
    <span style="float:right; color:#888888;"><a href="http://yr.no" style="color: #2fa900; text-decoration:none;">yr.no</a></span>
    </div>

    

    <div align="center">
    <iframe align="center" src="http://www.calendarlabs.com/calendars/web-content/quot.php?cid=101&uid=326933476&c=random&l=en&cbg=FFFFFF&cb=1&cbc=000000&cf=calibri&cfg=000000&qfs=bi&qta=center&tfg=000000&tfs=bi&afc=000000&afs=i" width="188" height="210" marginwidth=0 marginheight=0 frameborder=0 scrolling=no allowtransparency='true'>Loading...</iframe>
    </div>
    <script type="text/javascript">var _mcq=["6",""];</script><span id='_mc_mg6'></span><script language="JavaScript" src="http://stat1.moneycontrol.com/mcjs/common/mc_widget.js"></script><noscript><a href="http://www.moneycontrol.com">Sensex/Nifty</a></noscript>
    
    <div style="width:250px; border:1px solid #ccccff;height:auto;background-color:#ffffff;font-family:Arial;">
    <div style="background-color:#ccccff;height:24px;width:100%; margin:0 auto;font-size:18px; font-weight:bold;text-align:center; padding-top:0px;"><a href="http://www.goldpriceoz.com/" target="_blank" style="color:#ffffff;text-decoration:none;">Gold Price</a>
    </div><script type="text/javascript" src="http://www.goldpriceoz.com/goldwidget.php?l=en&m=000000&g=ffffff&c=ccccff&i=ffffff&l=e6e6fa&o=e6e6fa"></script>
    </div>
  </div>
</div>
