/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#doc:hover{
  background-color: #FF6600;
     }
.icon-home {
  size:10px;
  }
  #doc a{
     font-size:20px;
    font-family: bold;
   }
 #sticky {
  width: 100%;
  
}
#sticky.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  }
.ssr{
position:relative;
text-align: right;
color:red;
}
 
.panel {
   
color:white
    text-align:right;
    position: relative;
}




     .footer-mj{
      position:absolute;
      bottom:0;
      left:0;
      margin: 0;
     }
     a#headerfont{
      color: #ffffff;
     }
     #example {
         width: 1000px;
     }

    #bottom_strip1{background:#ec5800; height:29px;}
    #bottom_strip1 .inner_wrap1 div{position:absolute; right:0px;}
    #bottom_strip1 .inner_wrap1 div a{ float:right; color:#000; line-height:20px; display:block; margin-left:17px; text-decoration:none;
    font-size:13px;
    }
    #bottom_strip1 .inner_wrap1 span{position:absolute; left:0px; font-size:13px; color:#000; line-height:30px;}
    .inner_wrap1{width:1200px; margin: 0px auto; position:relative !important;   padding-top: 5px;   }





     /*treeDiv*/
  #treeDiv{}
   #treeDiv h2{color:#890000;}
  #content_links{ margin-top: 40px;}
  #content_links a{ background: #890000; border: 1px solid #890000; padding: 3px 8px; margin-right: 15px;
text-decoration: none; color: #fff; border-radius: 8px;
   }
   #treeDiv .MainProfile{font-size: 14px;background: #ccc; border: 1px solid gray; position: relative; height: auto; border-radius: 8px;

   }
   #treeDiv .MainProfile h2{margin:0px; padding:0px; position: absolute; left: 5px; top: 5px;}
   /*#treeDiv .MainProfile img{ position: absolute; left: 10px; top: 50px;}*/
   #treeDiv .MainProfile div{ position: absolute; left: 175px; text-align: left; top: 50px;}
   #treeDiv .MainProfile div label strong{ color:#000 ; font-weight: normal; width: 106px; display: table-cell;}
   #treeDiv .MainProfile div label{color: #000;}
   #treeDiv .genGroup{background: #ccc; border: 1px solid gray; position: relative;
overflow: auto;
   }
   #treeDiv .genGroup h2{}
   #treeDiv .genGroup div {position: relative; height: 100px; float: left; width: 259px;
background: #dfdfdf; margin-right: 10px;  margin-left:5px;
margin-bottom:10px;
   }
   #treeDiv .genGroup div h3{position: absolute; left: 119px; top:7px; margin: 0px;
    padding: 0px; z-index: 999; font-weight: normal; }
   #treeDiv .genGroup div h4{position: absolute; left: 119px; top: 30px; margin: 0px;
    padding: 0px; z-index: 999; font-weight: normal;}
   #treeDiv .genGroup div img{position: absolute; left: 10px; top: 7px; z-index: 999; width: 100px !important;
    height: 70px; overflow: hidden; }
    #treeDiv .genGroup div h5{position: absolute; left: 119px; top: 30px; margin: 0px;
    padding: 0px; z-index: 999; font-weight: normal;}

    /**/
    /*family tree*/
.relationGroup{background: #ccc; border: 1px solid #ccc; margin-bottom: 5px; border:1px ;
    border-radius:10px;}
.relationGroupMember{ position: relative; width: 282px; float: left; height: 30px; background: #fbfbfb; border: 1px solid #fff;
margin-bottom:5px; margin-right: 5px; height: 75px; margin-left:5px;
}
.relationGroupMember img{ display: block; position: absolute; border: #fff solid 1px;
    border-radius:10px;border-top-left-radius:2px;border-bottom-right-radius:2px; width: 50px ;height: 73px;}



/*bhanu*/

 .relationGroupMember a{margin-left: 54px;}
.memberMobile{margin-left: 54px;}
.memberStation{margin-left: 54px;}
.memberDob{margin-left: 54px;}
.font{font-size: 16px;position: relative;}



   #treeDiv .MainProfile img{ position: absolute; left: 20px; top: 20px;width: 250px; height: 190px;}
 
   /**********************************************/



    
    <style type="text/css">
input {
    
} .input{width: 100px}
 .gridster{position: relative;
 }

 [data-col="2"] { left:170px;} 
[data-col="1"]{ left:10px;}  

 
  [data-row="2"] { top:170px;} 
[data-row="1"] { top:10px;} 

[data-sizey="1"] { height:140px;}
[data-sizey="2"]{ height:300px;} 
  
[data-sizex="1"] { width:140px;}
[data-sizex="2"] { width:300px;} 
    .demo:hover .gridster {
      opacity: 1;
    }
.demo{
position: relative;
/*background-image:url("assets/back.jpg");
*/
}
 .gr{
         width: 940px;
         margin: 0 auto;
              position:relative;

} 

#grid{
text-align: center;
border-radius: 5px;
}
.sechead{
  font-size: 12px;
  margin: 0px 0px 10px;
}
.sechead p{
  text-decoration: ;
  color: rgb(58, 90, 151);
  font-size: 13px;
  font-weight: bold;
}

 
}
.gs_w{
  border: 1px solid rgb(204, 204, 204);
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  box-shadow: 1px 4px 5px rgb(170, 170, 170);
}

 
/*chanakya*/
 
 
     .layout 
 {
    background: none repeat scroll 0% 0% ;
    padding: 3px 0px;
    text-align: center;
    width: 100%
}

.firstC {
    width: 216px;
    overflow: hidden;
    float: left;
    display: inline;
    margin: 0px 0px 0px 3px;
}
.secondC {
    width: 218px;
    overflow: hidden;
    float: left;
    display: inline;
    margin: 0px 0px 0px 3px;
}
.col2 {
    width: 50%;
}
.leftalign {
    float: left;
}
.adspace {
    float: left;
    display: inline;
    width: 214px;
    padding: 0px 5px 6px 0px;
    overflow: hidden;
}
.innerspace {
    border: 1px solid rgb(204, 204, 204);
    margin: 0px 0px 3px;
    padding: 8px 9px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    box-shadow: 1px 4px 5px rgb(170, 170, 170);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.leadname {
    font-size: 12px;
    margin: 0px 0px 10px;
    text-align: center;
}
.leadname a {
    text-decoration: underline;
    color: #E56100;
    font-size: 12px;
    font-weight: bold;
}
.capitalize {
    text-transform: capitalize;
}
.adimage {
    margin: 0px 0px 5px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.imgsize {
    width: 189px;
}
img {
    border: 0px none;
}
.centercontainer {
    width: 218px;
    margin: 0px;
    overflow: hidden;
    float: left;
    display: inline;
}
.fourthcontainer{
    width: 218px;
    margin: 0px;
    overflow: hidden;
    float: left;
    display: inline;
  }
  .fifthcontainer{
    width: 218px;
    margin: 0px;
    overflow: hidden;
    float: left;
    display: inline;
  }
.containerR {
    width: 330px;
    margin: 0px;
    overflow: hidden;
    float: right;
    display: inline;
}


/*******/
 

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
  height: 330px;
   width: 1000px;
   float: center;
}
.carousel-caption{
  height: 20px;
}
.carousel-caption p{
  margin-bottom: -5px;
}


/*paginagin*/

.pagination a, .pagination span.current, .pagination span.gap {
float: left;
padding: 0 14px;
line-height: 38px;
text-decoration: none;
background-color: white;
border: 1px solid #DDD;
border-left-width: 0;
}
 


/*-----mjnews-----*/
.a_space {
  float: left;
  display: inline;
  width: 214px;
  padding: 0px 5px 6px 0px;
  overflow: hidden;
  height: 280px;
}
.i_space {
  border: 1px solid rgb(204, 204, 204);
  margin: 0px 0px 3px;
  padding: 8px 9px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  box-shadow: 1px 4px 5px rgb(170, 170, 170);
}
