<div class="navbar">
  <div class="navbar-inner" style="border-radius:5px;">
    <a class="brand" href="/socials">NEWS</a>
     <ul class="nav">
       <li class="active"><a href="/socials/social">Social</a></li>
       <li class="active"><a href="/socials/demise & uttavna">Demise & Uttavna</a></li>
       <li class="active"><a href="/socials/bussiness">Bussines</a></li>
       <li class="active"><a href="/socials/achievement">Achievement</a></li>
       <li class="active"><a href="/socials/health">Health</a></li>
       <li class="active"><a href="/socials/lucky draw">Lucky Draw</a></li>
       <li class="active"><a href="/socials/new"><blink style="color:green;font-size:20px;">Your News Here</blink></a></li>
     </ul>
  </div>
</div>

<script type="text/javascript">
     $(function(){
           // Tabs
           $('#tabs').tabs();
        });
</script>
  <div style="width:56%; height:auto; font-size:small;">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1"style="padding-left:175px;">WORLD CONNECT</a></li>
        <li><a href="#tabs-2" style="padding-left:175px;">INDIA CONNECT</a></li>
      </ul>
    <div id="tabs-1">
      <a href="http://www.maheshwarimatrimony.com" >Maheshwarimatrimony</a>&nbsp;
      <a href="http://www.maheshpanthi.net" style="padding-right:15px;">Maheshpanthi</a>&nbsp;
      <a href="http://www.maheshwari.org.in" style="padding-right:15px;">Maheshwari.org.in</a>&nbsp;
      <a href="http://www.maheshwari.org" style="padding-right:15px;">Maheshwari.org</a>&nbsp;<br /><br/>
      <a href="http://www.maheshwariweds.com" style="padding-right:20px;">Maheshwariweds</a>&nbsp;
      <a href="http://www.marwadisambandh.com/" style="padding-right:15px;">Marwadisambhandh</a>&nbsp;
      <a href="http://www.pavanparinay.com" style="padding-right:15px;">Pavanparinay</a>&nbsp;
      <a href="http://www.maheshwarisamaj.com " style="padding-right:15px;">Maheshwarisamaj </a>&nbsp;<br /><br />
      <a href="http://www.maheshwari-samaj-ludhiana.com" style="padding-right:15px;">Maheshwari-Samaj-Ludhiana</a>&nbsp;
      <a href="http://www.cgmaheshwari.com" style="padding-right:15px;">CGMaheshwari</a>&nbsp;
      <a href="http://www.maheshwari-world.com" style="padding-right:20px;">Maheshwari-World</a>&nbsp; <br /><br />
      <a href="http://www.maheshwarisamaj.in" style="padding-right:15px;">MaheshwariSamaj</a>&nbsp; 
      <a href="http://www.maheshwariji.com" style="padding-right:15px;">Maheshwariji</a>&nbsp;
    </div>
    <div id="tabs-2">
      <a href="http://www.themaheshwari.com">TheMaheshwari</a>&nbsp;&nbsp;
      <a href="http://www.maheshwarimahasabha.org">MaheshwariMahasabha.org</a>&nbsp;
      <a href="http://www.maheshwariparinay.com">MaheshwariParinay</a>&nbsp; 
      <a href="http://www.utsavjaipur.com">UtsavJaipur</a>&nbsp;<br /><br/>
      <a href="http://haryanapunjabpradeshiksabha.weebly.com">HaryanaPunjabPradeshiksabha.Weebly</a>&nbsp;
      <a href="http://www.maheshwarinagpur.org">MaheshwariNagpur</a>&nbsp;
      <a href="http://www.careerdisha.org"> Careerdisha</a>&nbsp;<br /><br />

      <a href="http://www.maheshwariyuva.org.in">MaheshwariYuva.org</a>&nbsp;
      <a href="http://www.maheshwarividyapeeth.com">MaheshwariVidyapeeth</a>&nbsp;
      <a href="http://www.maheshwarisamajwrj.org">MaheshwariSamajwrj.org</a>&nbsp; <br /><br />
      <a href="http://www.maheshwarirista.com">MaheshwariRista</a>&nbsp;
      <a href="http://www.suratmaheshwarisamaj.org">SuratMaheshwariSamaj.org</a>&nbsp;
      <a href="http://www.maheshwarisamajichalkaranji.org">MaheshwariSamajiChalkaranji.org</a>&nbsp;<br /><br />
      <a href="http://www.maheshwarinavimumbai.com">MaheshwarinaviMumbai</a>&nbsp; 
      <a href="http://www.ajmermaheshwarisamaj.com">AjmerMaheshwariSamaj</a>&nbsp; 
      <a href="http://www.suratmaheshwaribiodata.com">SuratMaheshwariBiodata</a>&nbsp; 
    </div>
  </div>           
</div>
