<div class="navbar">
  <div class="navbar-inner" style="border-radius:5px;">
    <a class="brand" href="/socials">NEWS</a>
     <ul class="nav">
       <li class="active"><a href="/socials/social">Social</a></li>
       <li class="active"><a href="/socials/demise & uttavna">Demise & Uttavna</a></li>
       <li class="active"><a href="/socials/bussiness">Bussines</a></li>
       <li class="active"><a href="/socials/achievement">Achievement</a></li>
       <li class="active"><a href="/socials/health">Health</a></li>
       <li class="active"><a href="/socials/lucky draw">Lucky Draw</a></li>
       <li class="active"><a href="/socials/new"><blink style="color:green;font-size:20px;">Your News Here</blink></a></li>
     </ul>
  </div>
</div>
<div class="news1">
    <div class="worldconnt">
        <h2 align="center" style="color:white;"> WORLD CONNECT</h2>
    </div>
    <table>
      <tr>
        <td><a href="https://www.google.co.in">Google</a></td>
        <td><a href="https://www.maheshwarimatrimony.com">matrimony</a></td>
        <td><a href="https://www.facebook.com">Facebook</a></td>
        <td><a href="">maheshwari</a></td>
        <td><a href="">jagrutha</a></td>
        <td><a href="http://www.maheshwaricommunity.org">maheshwari_community</a></td>
      </tr>
      <tr>
        <td><a href="https://www.google.co.in">Google</a></td>
        <td><a href="https://www.maheshwarimatrimony.com">matrimony</a></td>
        <td><a href="https://www.facebook.com">Facebook</a></td>
        <td><a href="">maheshwari</a></td>
        <td><a href="">jagrutha</a></td>
        <td><a href="http://www.maheshwaricommunity.org">maheshwari_community</a></td>
      </tr>
      <tr>
        <td><a href="https://www.google.co.in">Google</a></td>
        <td><a href="https://www.maheshwarimatrimony.com">matrimony</a></td>
        <td><a href="https://www.facebook.com">Facebook</a></td>
        <td><a href="">maheshwari</a></td>
        <td><a href="">jagrutha</a></td>
        <td><a href="http://www.maheshwaricommunity.org">maheshwari_community</a></td>
      </tr>
    </table>
</div>
<style type="text/css">
.news1 table td a{text-decoration: none;color:black;}
.news1 table td a:hover{color:#CC3300;}
td{padding: 10px 20px;}
.news1{
    border-radius: 5px;
    width: 64%;
    box-shadow: 3px;
    background-color:#9C9F84;

    }
    .worldconnt
    {
       height: 47px;
       border-radius: 5px;
       overflow: hidden;
       background: none repeat scroll 0% 0% #0F2103;
       padding: 0px 0px 0px 2px;
}
    }
    </style>

