<!DOCTYPE HTML>
 <html>
	<head>
		 
		 <title>Maheshwari Jagruth</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
		<script src="/assets/home/jquery.min.js"></script>
		<script src="/assets/home/config.js"></script>
		<script src="/assets/home/skel.min.js"></script>
		<script src="/assets/home/skel-panels.min.js"></script>
	 			
			<link rel="stylesheet" href="/assets/home/skel-noscript.css" />
			<link rel="stylesheet" href="/assets/home/style-nor.css" />
			<link rel="stylesheet" href="/assets/home/style-desktop.css" /> 
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	</head>
	<body>
	 
		<div id="banner-wrapper">
			<div class="containera">
				<div class="rowa">
					<div class="12u">
					
						<div id="banner">
							<h2>Maheshwari Jagruth</h2>
							<span>Your Voice Echoes here ......</span>
						</div>
				
					</div>
				</div>
			</div>
		</div>
		<div id="main">
			<div class="containera">
				<div class="rowa main-rowa">
					<div class="4u">
						<section>
							<h2>About Maheshwari Jagruth</h2>
							<p> <strong>Maheshwari Jagruth</strong> is a E-Portal Social Networking Site operating in the Maheshwari Community.
                            Maheshwari Jagruth is a platform to Reach, Serve, Strengthen & Sustain the Maheshwari Community  Nationally and Internationally.
                            Maheshwari Jagruth wishes to Reach and Encourage the Enterprising Stars of our community and provide them with equal opportunities to discover their True Potential and Worth .
                             This would help us in tapping recognizing the hidden potential and preserving our rich culture and traditions in which we take Immense Pride. </p>
							<!-- <footer class="controls">
								<a href="http://html5up.net" class="button">More cool designs ...</a>
							</footer> -->
						</section>
					
					</div>
					<div class="4u">
						
						<section>
							<h2>The site designed : </h2>
						
							<ul class="small-image-list">
								<li>
									 <img src="/assets/home/onlymj.png" alt="Mj" class="left" height="75px"/> 
									<h3>By the Maheshwaris</h3> 
									<h3>For the Maheshwaris</h3>  
									<h3>Of the Maheshwaris</h3>									 
								</li>

							 	<li >
									 
									<h3>MJ prime objectives are :-</h3>
										<div class="rowa">
								 <div class= "6u">
									<ul class ="link-list">	 
								<li>Business promotion</li>
								<li>Social activities</li>
								<li>Health awareness</li>
								<li>News and entertainment</li>
								

							</ul>
						</div>
					
							<div class ="6u">
							<ul class ="link-list">	
									<li>Employment</li>
								<li>Live coverages</li>
								<li>One stop shop</li>
								<li>Matrimonials</li>
  								
							
							</ul>
						</div>
								</div>  			

						</li>  
								
							</ul>
						<p style="text-align:center;"> Family Directory </p>

					
						</section>
					
					</div>
					<div class="4u">
					
						<section>
							<h2>The Name Says Everything !</h2>
							<div>
								<div class="rowa">
									<div class="6u">
										<ul class="link-list">
											<li>M - Maheswari Community </li>
											<li>A - Awareness </li>
											<li>H - Health </li>
											<li>E - Entertainment </li>
											<li>S - Social Activity </li>
										</ul>
									</div>
									<div class="6u">
										<ul class="link-list">
											<li>H - Help </li>
											<li>W - Work </li>
											<li>A - Awards </li>
											<li>R - Recognition </li>
											<li>	I - Industrial Developement </li>
										</ul>
									</div>
								</div>
							</div>
						</section>

					</div>

				</div>
				<div class="rowa main-rowa">
					<div class="6u">
					
						<section>
							<h2>MJ is for the awareness and prosperity of the community 
								 Business promotion </h2>
					 
							<ul class="big-image-list">
								<li>
									<img src="/assets/home/business_promotion.jpg" alt="" class="left" />
									<h3>Business promotion </h3>
									<p>It provides  information of business activities within the community, inaugural of new stores, encouragement of new ventures. MJ helps in flourishing the existing business and invites new ventures which helps the community to strengthen their place and promote National Developement.</p>
								</li>
								<li>
									<img src="/assets/home/social_activity.jpg" alt="" class="left" />
									<h3>Social activities </h3>
									<p>It has a biased platform for discussions, debates, expression of thoughts on current affairs and issues.</p>
								</li>
								<li>
									<img src="/assets/home/health.jpeg" alt="" class="left" />
									<h3>Health</h3>
									<p>It is the most important segment of our site. At times we are in a very crunch situation where our mind losses the capacity to handle it, and MJ provides us with all the information regarding the doctors, hospitals, etc.</p>
								</li>
								<li>
									<img src="/assets/home/news_and_entertainment.jpg" alt="" class="left" />
									<h3>News and Entertainment </h3>
									<p>MJ is a site which will in particular provide you with complete news of the community, and entertain you with 'N' number of programs.</p>
								</li>
							</ul>
						</section>

					</div>
				<div class="6u">
					
						<section>
						 
							<ul class="big-image-list">
								<li>
									<img src="/assets/home/employement.jpg" alt="" class="left" />
									<h3>Employment</h3>
									<p>It reveals information regarding employment options across the globe with a click from you.</p>
								</li>
								<li>
									<img src="/assets/home/live_coverage.jpg" alt="" class="left" />
									<h3>Live coverage </h3>
									<p>Whatever be the occasion, we are here with a solution. MJ team provides the opportunity of live coverage of Festivals, Parties, Rallies, Religious Functions and Events etc.</p>
								</li>
								<li>
									<img src="/assets/home/one_stop_shop.jpg" alt="" class="left" />
									<h3>One Stop Shop </h3>
									<p>It has setup a huge platform for all classes of people to participate. Be a housewife, Professionals or a Retired senior citizen, MJ gives all the opportunities to display their Talent, Skill and Products without having the need to step out of their house.
									</p>
								</li>
								<li>
									<img src="/assets/home/matrimony.jpg" alt="" class="left" />
									<h3>Matrimony</h3>
									<p>It arranges social gatherings, gives complete information regarding Bride / Groom of the community which helps in finding a perfect match.</p>
								</li>
								<li>
									<img src="/assets/home/family_directory.gif" alt="" class="left" />
									<h3>Family directory</h3>
									<p> This is specially designed keeping in mind the pace at which we are moving today where we tend to forget names at times. This special segment helps you to know not only your Grand fathers, but your Great Grand fathers too. All this and much more.
									</p>
								</li>
							</ul>
						</section>

					</div>
				</div>
					<center>
						<p>
							To Avail this, all you need to do is get Yourself and all your Family Members, Registered with Maheshwari Jagruth.
						</p>  
						<p>
							Your registration is our consideration of you joining this movement of upliftment and 
						</p>
						<p>
							Prosperity of the Community in this very Unique and Modernized way.
						</p>
							<br/>
						<h2>
							" Together we can and we will make a difference " 
						</h2>
						<footer class="controls">
								<a href="http://localhost:3000/ads" class="button">Enter Maheshwari Jagruth</a>
							</footer>
					</center>
				 
				
			</div>
		</div>
		<div id="footer-wrapper">
			<div class="containera">
				<div class="rowa">
					<div class="8u">
						
						<section>
							<h2>Contact Us</h2>
							<div style="background:#cfd8d7;border-radius:10px;">
								<div class="rowa" style="padding:10px;">
									<div class="3u">	
										 
											 <h3>Admin Office :</h3>
											 <p>Maheshwari Jagruth</p>
											 <p>5-1-237, First Floor</p>
											 <p>Hill Street, Ranigunj</p>
											 <p>Secunderabad - 500 003</p>
											 <p>AndhraPradesh (India) </p>
										 
									</div>
								 	<div class="3u"><br><br><br>
									 	<p>Aashish Bajaj</p>
									 	 <p> 90 300 27649</p>
									 	<p>Email: 	
									 		<a href="mailto:info@maheshwarijagruth.com?Subject=Contact%20User" target="_top">
														info@maheshwarijagruth.com
											</a>
										</p>

									</div>
								 
								</div>
							</div>
						</section>
					
					</div>
					
				<!-- 	<div class="4u">

						<section>
							<h2>Something of interest</h2>
							<p>Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. 
							Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet 
							mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
							lorem ipsum dolor sit amet consequat blandit.</p>
							
						</section>

					</div> -->
				</div>
				<div class="rowa">
					<div class="12u">

						<div id="copyright">
							&copy;Maheshwarijagruth. All rights reserved. | Design: <a href="http://maheshwarijagruth.com">MJ</a> 
						</div>

					</div>
				</div>
			</div>
		</div>
	<!-- ********************************************************* -->
	</body>
</html>
<style type="text/css">
h3{color: #ac146d}
</style>